[2019-07-23 00:29] nfagerlund opened #1 "Missing docs for cloudctxprofile data source"
Hello! There's a broken link in the sidebar pointing to `d/cloudctxprofile.html`, currently breaking builds for hashicorp/terraform-website. The page for that data source doesn't exist, but it looks like an implementation does exist at `./aci/data_source_aci_cloudctxprofile.go`.

[2019-08-23 05:54] nkatarmal-crest commented on #1
I have added the documentation for the mentioned data source. PR #4 contains the changes.

[2019-08-23 05:54] #1 closed

[2019-08-23 21:14] nfagerlund commented on #1
excellent, thanks!

[2020-02-19 09:43] thomasbertouxbetclic opened #20 "Attach Leaf interface to EPG"
I'm trying to create an EPG on Cisco ACI using Terraform. EPG is created but Leaf's interface isn't attached. The terraform synthax to attach Leaf interface is :

[code]
It works when I do it manually through ACI web interface or REST API with tDN field like :

`<fvRsPathAtt annotation="" descr="" encap="vlan-{{VLAN-ID}}" instrImedcy="immediate" mode="regular" primaryEncap="unknown" tDn="topology/

[2020-03-04 08:09] JBaptisme33 opened #21 "aci_logical_node_profile relations attributes"
Hello team,

Thanks for your hard work.

We are facing issue regarding applicable attributes to an L3Out Node profile.
Indeed, relation_l3ext_rs_node_l3_out_att argument seem have missing parameters.
When adding a node to a profil, two parameters are mandatory:
- Node ID
- Router ID

Node ID (tDn) can be sent, but Router ID (rtrId) can't be sent to APIC.
Is there a way to add a node to L3Out Profi

[2020-03-05 11:08] JBaptisme33 opened #22 "aci_rest refresh state issue ?"
Hello dear team,

We are trying to apply modification over aci_rest ressource.
When applying for the first time ressource, we have no issue. Since ressource does no exist locally and remotely, ressource is created and "applied" to tfstate file.

`resource "aci_rest" "lnodep-interco_OSPF_checkpoint-1" {
	path = "api/node/mo/${aci_logical_node_profile.interco_OSPF_checkpoint-1.id}/rsnodeL3OutAtt-[to

[2020-03-12 17:56] lhercot opened #23 "aci_application_epg relation_fv_rs_cons / prov do not create Contract relationship"
When using aci_application_epg with relation_fv_rs_cons and relation_fv_rs_prov in v.0.1.7.
The EPG is created but the relationships to Contracts (fvRsProv child of fvAEPg) are not created.

Example of my main.tf:
[code]

[2020-03-12 22:30] devarshishah3 commented on #23
@lhercot
Try
relation_fv_rs_cons    = ["${aci_contract.net1_to_net2.name}"]

[2020-03-13 10:20] nkatarmal-crest commented on #22
@JBaptisme33 It is normal behaviour with aci_rest as aci_rest is a generic resources, which can create any classes, there is no specific schema for this resource, that's why we are not able to make it in sync with the modification made out of the terraform code.

[2020-03-19 17:26] #22 closed

[2020-03-26 18:38] maty0609 opened #24 "Change of EPG name fails"
# Prerequisites

Please answer the following questions for yourself before submitting an issue.

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed
- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Expected Behavior

Change EPG name in TF file wi

[2020-03-31 05:47] nkatarmal-crest commented on #24
@maty0609 Thanks for submitting this issue. I will look into it.

[2020-04-01 19:00] lhercot commented on #24
@maty0609 , we discussed this issue internally and @nkatarmal-crest will be fixing it.
Be aware that in ACI, name changes are not supported on a lot of objects and the name change in Terraform will trigger a re-create action (delete + create) which might have impact on traffic depending on which object it influence.

[2020-04-01 22:23] maty0609 commented on #24
@lhercot Thank you. Yeah I'm aware of that. Sorry probably should have stated that in the expected behaviour that I would expect to delete the object and create new one. Let me know if you will want me to test it or run further tshooting.

[2020-04-02 12:04] nkatarmal-crest commented on #24
@maty0609 New version of provider is out. Please run the Terraform init again in your workspace to pull the new version of ACI provider which is (v0.1.8). Do let me know of that solves your issue.

[2020-04-02 12:30] maty0609 commented on #24
@nkatarmal-crest Perfect. It works now! Thank you very much. This can be closed.

[2020-04-03 05:49] #24 closed

[2020-04-03 05:49] nkatarmal-crest commented on #23
@lhercot  Can you test with name?

[2020-04-07 13:33] francesco-supportlan opened #27 "aci_rest issues - Bad Request"
Hi,

as an example (values are just testing values), I'm trying to push the following resources:

resource "aci_rest" "terlinklevel" {
  path       = "api/node/mo/uni/infra/hintfpol-75GBPS_FULL_INTPOL.json"
  class_name = "fabricHIfPol"
  content = {
    "dn" = "uni/infra/hintfpol-75GBPS_FULL_INTPOL"
    "name" = "75GBPS_FULL_INTPOL"
    "autoNeg" = "off"
    "speed" = "10G"
    "rn" = "hintfpol-7

[2020-04-08 14:39] kecorbin opened #28 "Authentication Enhancements"
For cert based auth, the provider auth must use a local file path to read in the private key.  There are some circumstances where this may not be possible e.g. pipelines, etc.  it would be nice if there was an option to provide the private key as a string that could be securely injected as a variable.

For user/pass auth this provider currently uses variables, it may also be desirable to allow the

[2020-04-08 18:32] hakras commented on #20
I am experiencing the same issue.  I believe it has something to do with missing parameters (mode, encap, etc).  I'm not sure if the provider currently has the capability.

[2020-04-09 05:42] nkatarmal-crest commented on #23
I have tested this with name. Works fine.

[2020-04-09 05:42] #23 closed

[2020-04-09 06:04] nkatarmal-crest commented on #27
@francesco-supporlan Can you please check that the interface_policy_group is created before running this terraform plan? I am able to create the relation on my end with the same code.

[2020-04-09 06:08] nkatarmal-crest commented on #28
@kecorbin I will look into the request for private key. However for password based authentication we do have environment variable support for all the authentication parameters supported by the provider, format for ENV variable name is , ACI_USERNAME, ACI_PASSWORD, ACI_PRIVATE_KEY etc.

[2020-04-09 06:09] nkatarmal-crest commented on #21
We need to expose this relation class as concrete resource in the provider.

[2020-04-09 18:45] hakras commented on #20
I was able to get around this issue by using the aci_rest module.  You still need to keep the relation_fv_rs_path_att value in the aci_application_epg module to avoid it being removed on next apply.

`resource "aci_rest" "path_att" {
  path             = "api/node/mo/${aci_application_epg.some_epg.id}.json"
  class_name       = "fvRsPathAtt"
  content          = {
    "tDn"          = "topology/po

[2020-04-09 19:15] hakras opened #29 "Still creating when more than 6 items"
Hello,

I am experiencing a strange issue that I cannot figure out.  I am using Terraform version 0.12.20 and ACI Provider version 0.2.0.  It seems that if the plan has more than 6 items it hangs on "Still creating".  I have left it for over an hour and it doesn't complete.  I have tried many different variations of code and run into this issue again and again.  If I force stop the plan and run it

[2020-04-09 20:44] Bullenj01 commented on #29
Same
Terraform v12.24
ACI v2.0

Everything worked fine while I was building but after running a destroy and apply it only creates around 9 items.  It never errors out on the same object.  I'm using cert based auth and parallelism =1

terraform output:

Do you want to perform these actions in workspace "dev"?
  Terraform will perform the actions described above.
  Only 'yes' will be accepted to app

[2020-04-10 06:28] nkatarmal-crest commented on #20
@hakras @thomasbertouxbetclic I will expose this class as concrete resource so that you can create the  object by passing all the required parameters.

[2020-04-10 07:11] nkatarmal-crest commented on #29
@Bullenj01 Can you please share your .tf files? I am working on this provider, i tried to re-produce this issue in my environment but i am not able to re-produce it. I am able to create 54 resources in one go, with or without parallelism flag. Using both the Authentication methods. Also which OS you are using?

[2020-04-10 13:35] hakras commented on #29
@nkatarmal-crest , I can do something simple like create 5 blank tenants and it will create them flawlessly.  If I destroy and modify the tf file to create 8 blank tenants, it will create 6 and go into a "Still creating" message.  I am running Terraform from Windows.

[2020-04-10 15:01] Bullenj01 commented on #29
confirmed its a windows thing.  from linux I can deploy no problem

[2020-04-10 17:03] hakras commented on #29
Running the code from a Linux system worked as expected.  Thanks!

[2020-04-10 17:49] kecorbin opened #30 "Rate limiting issues still present in 0.2.0"
The 0.2.0 version of the provider does seemed to have improved on the rate limiting issues when using user/pass auth, however, I am still hitting it from time to time, far less frequent than in previous versions though. The error I receive is on random resources like below

[code]

Given enough attempts at a plan, it will ultimately work.

[2020-04-10 18:54] Bullenj01 opened #31 "preferred group object aci_any"
In the documentation there is a aci_any resource but when used terraform says the provider does not support it.  Looking in the master branch I see a vzany resource but not an aci_any.  I tried vzany but it was not recognized either.  I'm using the latest .2 code.

[2020-04-13 05:05] nkatarmal-crest commented on #30
@kecorbin It would be good if you can share the .tf files you are using to create the resources. I can debug the issue properly from my side and get back to you with a concrete solution for the same. Meanwhile if you don't want to waste your time in running the Terraform plan multiple times, i will suggest you to use --parallelism=1 flag to avoid the issue till we have the proper fix in place.

[2020-04-13 22:00] francesco-supporlan commented on #29
Hi,

I have the same issue. I'm creating several aci_access_port_selector and it keeps saying still creating after around 45 ports. I'm running different modules. 1st one goes through, 2nd one as well and I'm getting this message at the 3rd module.
In debug mode I don't see anything wrong. Tried with a linux machine and macOS.
Attached my terraform files.
[terraform.zip](https://github.com/terrafo

[2020-04-14 13:31] francesco-supportlan commented on #27
Not working. When I run terraform apply it says it has created 2 resources:
aci_rest.terlinklevel: Creating...
aci_rest.terattachlinklevel2ipgpc: Creating...
aci_rest.terlinklevel: Creation complete after 0s [id="uni/infra/hintfpol-75GBPS_FULL_INTPOL"]
aci_rest.terattachlinklevel2ipgpc: Creation complete after 0s [id=uni/infra/funcprof/accbundle-PC_IFCE_IPG/rshIfPol]

Apply complete! Resources: 2

[2020-04-14 23:26] devarshishah3 commented on #20
@hakras @thomasbertouxbetclic. This is the expected behaviour as the relationship class has other parameters which need to be passed. The workaround is correct as well. Are there any other relationship classes that you are using which need parameters to be passed?

[2020-04-15 13:58] kecorbin commented on #30
@nkatarmal-crest https://gitlab.com/kecorbin/terraform-aci-network-centric/-/tree/master

[2020-04-15 20:17] aciguru commented on #28
AP-17 #comment issue created on JIRA

[2020-04-15 20:22] aciguru commented on #28
AP-17 #comment This is a comment to test JIRA

[2020-04-15 21:27] kecorbin commented on #28
@nkatarmal-crest that's awesome news.  I didn't see any mention of the enviornment variables in the docs, so I just assumed it wasn't there.

Let me know if you need any add'l info on the private key request.

[2020-04-16 07:25] nkatarmal-crest commented on #31
@Bullenj01 can you pull the version 0.2.1 and check if the resource you are looking for is available or not?

[2020-04-16 07:25] nkatarmal-crest commented on #30
@kecorbin Can you give a try to version 0.2.1 of the provider?

[2020-04-16 07:26] nkatarmal-crest commented on #27
@francesco-supportlan I think we are missing some required parameters for the resource. Can you double check them?

[2020-04-16 07:28] nkatarmal-crest commented on #20
@thomasbertouxbetclic @hakras I have exposed this class as concrete resource in the version 0.2.1 of the Provider, please find the details here for your reference: https://www.terraform.io/docs/providers/aci/r/fvrspathatt.html Do let me know if this solves your issue.

[2020-04-16 07:29] nkatarmal-crest commented on #29
@hakras @francesco-supportlan @Bullenj01 Can you guys run the plan with Provider version 0.2.1? I was able to create all the resource for the code mentioned by @francesco-supportlan .

[2020-04-16 07:31] nkatarmal-crest commented on #28
@kecorbin I have fullfilled the request of inline private-key. Now you can pass the private key in line to the provider block. Please find the below code for your reference. You will need to update the provider version to 0.2.1.

`provider "aci" {
  username    = "admin"
  private_key = <<EOF
-----BEGIN PRIVATE KEY-----
MIICeAIBADANBgkqhkiG9w0BAQEFAASCAmIwggJeAgEAAoGBANCgcS0CtMkwTDFG
E1bYJ3Gt3XzHJ

[2020-04-16 07:33] nkatarmal-crest commented on #21
@JBaptisme33 I have exposed the class as concrete resource in the provider version 0.2.1. Please find the below document for your reference. https://www.terraform.io/docs/providers/aci/r/l3extrsnodel3outatt.html

[2020-04-16 12:54] francesco-supportlan commented on #27
Ok tested with only:

resource "aci_rest" "terattachlinklevel2ipgpc" {
path = "api/node/mo/uni/infra/funcprof/accbundle-PC_IFCE_IPG/rshIfPol.json"
class_name = "infraRsHIfPol"
content = {
"tnFabricHIfPolName" = "75GBPS_FULL_INTPOL"
}
}

Terraform Debug:

2020/04/16 08:39:00 [DEBUG] aci_rest.terattachlinklevel2ipgpc: applying the planned Create change
2020-04-16T08:39:00.642-0400 [DEBUG] plugin.ter

[2020-04-16 23:09] francesco-supportlan commented on #29
It seems working now but let me do more testing and come back asap

[2020-04-16 23:13] francesco-supportlan commented on #27
I confirm the issue is with status value. The first time it's not attaching the relation. Then I modified the tf file and re-run an apply. Status changed to "modified" and it works.

Also do you have any examples on how to attach children attributes when we want to use aci_rest resource. (e.g.: {"infraLeafS": {"attributes": {"dn": "uni/infra/nprof-L1001_SPR/leaves-L1001_SWSEL-typ-range", "type": "

[2020-04-17 12:15] Bullenj01 commented on #31
Confirmed resolved in 0.2.1

[2020-04-17 12:15] #31 closed

[2020-04-17 12:16] Bullenj01 commented on #29
Confirmed working in 0.2.1.  Created 30 resources in one shot

[2020-04-20 03:50] nkatarmal-crest commented on #29
Cool i am closing this issue.

[2020-04-20 03:50] #29 closed

[2020-04-21 19:00] hakras commented on #20
@nkatarmal-crest, using my existing tf code from a Linux system (using aci_rest), it is working as expected.  I have a requirement to get this working under Windows.  I copied over the same tf code to a Windows system and the code provided errors.  Using the work you have done here, I modified my code to not use aci_rest, but to use aci_epg_to_static_path instead.  Unfortunately, it is not working

[2020-04-21 22:14] kecorbin commented on #28
@nkatarmal-crest inline private key works as expected, thank you!

[2020-04-21 22:14] #28 closed

[2020-04-22 15:06] kecorbin commented on #30
I still saw issues w/ 0.2.1 when using user/pass auth.  With #28 now closed, I'm able to use cert based auth

[2020-04-22 17:09] nkatarmal-crest commented on #30
Can you export TF_LOG_FILE = logs.txt and with TF_LOG = TRACE. I want to double check the authentication endpoint.

[2020-04-27 03:44] nkatarmal-crest commented on #20
@hakras
 Can you try below terraform snippet?
[code]

I am able to create the relation without any error using this.

I will remove the annotation attribute from this resource.

[2020-04-28 06:01] twtko opened #33 ""aci_l3_outside / argument: relation_l3ext_rs_l3_dom_att" is not working correctly."
I have tried to use aci_l3_outside resource with relation_l3ext_rs_l3_dom_att argument with Terraform v0.12.24 and provider.aci v0.2.1.

However, this resource couldn't collect parameters of ACI L3out Domain as below.
This is a part of output when I executed plan operation.

[code]

**relation_l3ext_rs_l3_dom_att =jsonencode({})**
This doesn't seem to handle the string correctly.

[2020-04-28 07:13] twtko opened #34 "aci_rest is not working when using signature-based authentication with error-message "Bad Signature""
I found that aci_rest does not work when using signature-based authentication for APIC.

APIC: 4.2(3n)
Terraform: 0.12.24
provider: 0.2.1

When I use signature-based authentication for APIC.

[code]

When I use password-based authentication for APIC.

[code]

[2020-04-29 15:59] nkatarmal-crest commented on #33
@twtko It may be possible that the relation was not created on the APIC side and we had an error? Can you please check if the create operation works as expected?

[2020-04-30 05:28] twtko commented on #33
@nkatarmal-crest After running "terraform apply", I confirmed that the L3out Domain parameter was not properly configured.

I confirmed that I can add L3out Domain using aci_rest resource via Terraform as below.

[code]

I attached debug log of Terraform, that has modified only APIC URL and admin password.
- "with_l3_dom_att - new deploy.log" is when newly created.
- "with_l3_dom_att - modify.log"

[2020-04-30 05:38] nkatarmal-crest commented on #33
@twtko Thanks for raising this issue. I looked at the logs and figured out the issue. Will work on it.

[2020-05-05 11:23] nkatarmal-crest commented on #34
@twtko It's the issue with wrong terraform configuration. See the value of path field in the .tf file.

[code]

There should be a `/` before api. It will work fine with it.

[2020-05-05 15:39] cbts-jonathanarcher opened #35 "linking leaf access port selector to interface policy group"
I am trying to link the Access port selector to the interfacy policy group, but it doesn't appear to be an option on the access port selector resource.

[code]

[2020-05-05 19:54] devarshishah3 commented on #33
@twtko. Can you share all the resources and the config file that you are using for l3_out config? We can make a module out of it for easier consumption

[2020-05-07 10:37] twtko commented on #34
@nkatarmal-crest I have tried this again with added `/`, However the result was not success with below error message.

[code]

There is no  `/` on "path" parameter at Official document on terraform.io.
https://www.terraform.io/docs/providers/aci/r/rest.html

I believe we should be use it without `/` on top of "path" parameter.
My resource config as below.

[code]

[2020-05-11 06:34] nkatarmal-crest commented on #34
@twtko the error is not related to `/`. We will need to add the `/` before the api word in the path, there is a miss in the documentation i will update it.

The error you are facing is because terraform is trying to create the aci_rest resource before even creating the Tenant, if you check the execution plan you will get that the aci_rest was executed before the aci_tenant. So APIC was not able to

[2020-05-11 06:35] nkatarmal-crest commented on #35
@cbts-jonathanarcher  Can you please add a className which you are trying to create? We can add a support for it, if it's not there.

[2020-05-11 08:08] nkatarmal-crest commented on #35
We do have https://www.terraform.io/docs/providers/aci/r/infrahports.html#relation_infra_rs_acc_base_grp relation for the same. Let me know if you need anything else.

[2020-05-11 11:50] nkatarmal-crest commented on #33
@twtko  I have fixed this issue in the v0.2.2 of the provider. Can you please give it a try?

[2020-05-11 11:51] nkatarmal-crest commented on #27
@francesco-supportlan Thanks for your investigation, I have removed the explicit status field injection in the mso_rest module. Can you please try v0.2.2 and see if it solves your issue or not?

[2020-05-11 16:37] cbts-jonathanarcher commented on #35
I have referenced the name of the interface policy group in the config snip above. The result is a blank dropdown in the gui. If I set it to something else and then run the apply the dropdown is blanked again. Does this just need to be the name of the object or a linked name from a data resource?

[2020-05-12 14:10] nkatarmal-crest commented on #35
@cbts-jonathanarcher You need to pass the fullDn as mentioned here uni/infra/funcprof/accbundle-AVE_PC1_polGrp

[2020-05-13 05:06] cbts-jonathanarcher commented on #35
[debug_file.txt](https://github.com/terraform-providers/terraform-provider-aci/files/4619860/debug_file.txt)

Line 13 shows the error I get.

ACI version 4.2(3j)

latest terraform code

[code]
I also tried this and received the same error in the log.
[code]

[2020-05-17 16:14] francesco-supportlan commented on #27
@nkatarmal-crest Sorry for the delay. Yes it works fine.

The aci_rest is cool but when it comes to complex body, it's not working so great.
For example, when I want to build some paylod like the one below, I'm having hard time to make it work with aci_rest. Is it possible to leave content field "free" and take any dict/json as is to send it over api using aci_rest?

       if vpc is False:

[2020-05-18 08:44] twtko commented on #34
@nkatarmal-crest Thank you very much giving me your explanation. I understand why I need to add `/`, but I couldn't understand why the behavior is different in case of using password-based authentication and certificate-based authentication.

[2020-05-18 08:44] #34 closed

[2020-05-18 08:48] twtko commented on #33
Sorry late reply. I confirmed this problem was fixed in v0.2.2 aci provider for Terraform. Thank you a lot for your so quickly work for this case!!

[2020-05-18 08:48] #33 closed

[2020-05-18 19:57] vfiftyfive commented on #27
Hi,

You can eventually create `aci_rest` resources in a separate TF file as a jinja template with your embedded logic defined there . You can then render your jinja template with the desired content.
We'll also evaluate the idea of a json file input for the content.
Regarding your question on certificates authentication for `aci_rest`, it uses the default provider authentications method, and you

[2020-05-18 20:03] vfiftyfive opened #37 "Add vzCPIf resource"
Add `vzCPIf` and `vzRsIf` resources. They represent a contract that is exported to a tenant and its relation source to initial contract respectively.

Nic

[2020-05-18 20:11] vfiftyfive opened #38 "Add Feature: Create contract subjects, filters and filter entries inline in contract resource"
In the current provider version, the only way to create a complete contract is to create the distinct resources composing it and interpolate them where required.
The proposed featured consists in providing a block within the contract resource that defines all required components. This includes subject, filters and filter entries.

Nic

[2020-05-18 20:17] vfiftyfive opened #39 "Filter Entry resource flagged for modification when common protocol is used"
Consider the following resource:
[code]

APIC will re-write "443" as "HTTPS". This will lead to drift of state between the infrastructure and the state file. As a consequence, the next time the plan is executed, the resource will be flagged as requiring modification. This is because Terraform needs to reconcile the state file with the value back to "443".

Nic

[2020-05-18 21:31] francesco-supportlan commented on #27
@vfiftyfive  this is exactly what I did but when your payload content has sub dictionary, it doesn't work well.
When using certificate authentication on provider file, aci_rest returns authentication failed whereas the rest works well.

[2020-05-19 03:49] nkatarmal-crest commented on #27
@francesco-supportlan aci_rest works perfect with the certificate based authentication as well. You just need to add a `/` before the word `api` in the path, if you are receiving bad signature error.

[2020-05-20 05:52] nkatarmal-crest commented on #37
Added the required resources in v2.2.3.

[2020-05-20 05:52] #37 closed

[2020-05-20 17:11] francesco-supportlan commented on #27
ok I'm going to test it, not focused too much on certificate with aci_rest yet.
Regarding the payload I pasted before, do you have an example how aci_rest would need to be configured (let's forget about variables because I use several jinja2 templates). Just to have a look how to configure aci_rest with nested dict, I'm surely missing something there.

[2020-05-21 19:08] jgcasd opened #43 "Issues with aci_physical_domain and aci_l3_domain_profile"
aci_physical_domain and aci_l3_domain_profile both will not correctly set the relation for "relation_infra_rs_vlan_ns". It just stays empty after running the config. Also, both of these resources are failing when run a 2nd time with this error:

`
[AWS CodeBuild Plugin] 	* module.shared.aci_physical_domain.vcenter: 1 error occurred:
[AWS CodeBuild Plugin] 	* aci_physical_domain.vcenter: unknown at

[2020-05-23 15:44] francesco-supportlan opened #44 "Issue re-applying terraform"
Hi
Did you changed the way the resources are created modified?

I have this example sample:

resource "aci_vlan_pool" "test_vlan_pool" {
  name  = "TEST_VLAN_POOL"
  alloc_mode  = "static"
}
resource "aci_ranges" "vlanpool1" {
  depends_on = [
    aci_vlan_pool.test_vlan_pool,
  ]
  vlan_pool_dn  = aci_vlan_pool.test_vlan_pool.id
  _from  = "vlan-100"
  to  = "vlan-100"
  from  = "vlan-100"
  allo

[2020-06-03 17:10] nkatarmal-crest commented on #44
@francesco-supportlan I am working on this issue, it seems it's not able to read the parentDN in this case.

[2020-06-08 12:16] cpaggen opened #49 "Add feature: specify port-group security options in VMM domain binding"
In resource **aci_application_epg**, it is possible to bind domain _"aci_vmm_domain.vds"_ to the EPG like so:

- relation_fv_rs_dom_att = [data.aci_vmm_domain.vds.id]

However, it isn't possible to specify many common domain binding options such as resolution immediacy, deployment immediacy, VMM port-group security settings, etc. In other words, attributes:

- resImedcy
- instrImedcy

and child vm

[2020-06-08 13:57] dannielshalev opened #50 "Unable to attach leaves to leaf profile -"
Hi Friends,

I cannot find anywhere in the documentation how to associate leaf block / specific range from to leaf profile
the only option that I see available is either ALL that associate all leaves to the leaf_profile or range with no option of associating a specific from to range

this is the resource I'm creating:
[code]

when I'm running a post request is to see that It created like this:
[co

[2020-06-09 06:33] nkatarmal-crest commented on #49
@cpaggen Thanks for bringing this to our attention. We will add a separate resource for the same.

[2020-06-09 06:33] nkatarmal-crest commented on #50
@vfiftyfive Can you please assist here?

[2020-06-10 12:30] dannielshalev opened #53 "Fail to attach AAEP to interface policy group aci_pcvpc_interface_policy_group"
Hi Friends,

I have the following resource, interface policy group

[code]

when I deploy this the resource gets created but without  "attach  entity profile" (relation_infra_rs_att_ent_p) value is empty

Working API call the produce this config looks like this:
[code]

It looks like a bug in this resource, I would appreciate your help

[2020-06-11 08:17] dannielshalev commented on #53
Hi @vfiftyfive

I tested it with the id as well and it's not working:
[code]
same happens the resource gets created but the attach entity profile isn't configured on the interface policy group...

Iv'e tested resource:
[code]
And data:
[code]
nothing seems to work

[2020-06-11 14:18] aj-cruz commented on #43
I'm having sort of the same issue, when I do this:
[code]
It creates the domain with no error but does not attach the vlan pool.
Then I try changing to use relation_infra_rs_vlan_ns_def (not sure which is the proper way).
Next time I apply I get:
[code]
Then the next apply does not generate the error, but still does not attach the vlan pool

Then if I switch back to using relation_infra_rs_vlan_ns

[2020-06-13 20:50] aj-cruz commented on #43
I also tried using the VLAN pool Dn instead of the name, same results

[2020-06-14 00:02] aj-cruz commented on #43
I'm no programmer but I think I see the problem?
The POST that get's sent when I run the apply is:
`{"infraRsVlanNs":{"attributes":{"dn":"uni/phys-PhyDom/rsvlanNs","tnFvnsVlanInstPName":"uni/infra/vlanns-[PHYS-VLAN-POOL]-static"}}}`

And then I see this error in the trace:
`{"code":"400","text":"unknown attribute 'tnFvnsVlanInstPName' in element 'infraRsVlanNs'"}`

I think the POST should be "fvns

[2020-06-14 01:20] aj-cruz commented on #43
I don't know if I'm in the right place, but I see that terraform-provider-aci/aci/resource_rest.go
imports "github.com/ciscoecosystem/aci-go-client/client"
and digging through aci-go-client/client I see:
[code]

[2020-06-14 08:42] harelh commented on #50
[code]

We did a workaround meanwhile,
We created the infrablock and attached it to the leaf selector with custom Terraform API call

[2020-06-15 05:57] nkatarmal-crest commented on #50
We will add a new resource to manage infraNodeBlk class.

CC: @vfiftyfive

[2020-06-15 06:53] nkatarmal-crest commented on #43
@aj-cruz Thank you for the detailed investigation here, I will fix this issue.

[2020-06-16 04:26] #30 closed

[2020-06-16 04:26] nkatarmal-crest commented on #30
Closing this issue as we haven't heard anything back from the reporter.

[2020-06-16 09:35] JBaptisme33 commented on #21
Hello @nkatarmal-crest . Thanks for effort.
I will try as soon as possible.

Really thanks,

[2020-06-16 09:35] #21 closed

[2020-06-16 14:23] aj-cruz commented on #43
@nkatarmal-crest I see you pushed a fix for this, but I am still not able to attach a VLAN pool.
Here is my .tf file:
[code]

And here is a snippet of the trace when I run the apply:
[code]

[2020-06-17 04:14] nkatarmal-crest commented on #43
@aj-cruz This issue will be resolved in the next release of the provider. The release should be available soon in next couple of days maybe.

[2020-06-17 04:19] aj-cruz commented on #43
Ah gotcha I thought if I cloned and re compiled it would be available immediately. Sorry I'm still new to git. Thanks!

[2020-06-18 00:51] aj-cruz commented on #35
Hi @nkatarmal-crest I'm getting the same behavior using the dn for relation_infra_rs_acc_base_grp.

The post from the trace is:
[code]

[2020-06-18 01:04] aj-cruz commented on #53
@dannielshalev It works for me. I use:
relation_infra_rs_att_ent_p = aci_attachable_access_entity_profile.Physical-AAEP.id

What happens when you do:

[code]

[2020-06-18 09:29] 4ndersson opened #64 "Object relations has stopped working"
Relations between objects when using Terraform has stopped working since yesterday. Same code was working the day before. Example code beneath. This does not create a relation between the objects. I also tried EXAMPLE_2 if you have changed to .id instead of .name as relation, did not work.

Version 0.2.3 is still working as expected, FYI.

Terraform v0.12.21
provider "aci" (terraform-providers/aci

[2020-06-18 11:52] #64 closed

[2020-06-18 17:20] aism opened #65 "relation_fv_rs_ctx requires VRF id instead of name in 0.3.0, and vice versa in 0.2.3"
+ ACI 4.2(3l)
+ Terraform 0.12.26
+ ACI provider versions: 0.2.3 and 0.3.0

### Problem description:
+ when using the relation_fv_rs_ctx referencing VRF name, it works in 0.2.3, but doesn't work in 0.3.0 (so the resulting fvRsCtx object is created referencing the 'uni/tn-common/ctx-default' (default VRF)
+ when using the relation_fv_rs_ctx referencing VRF id, it works in 0.3.0 (fixing our issue),

[2020-06-18 17:26] aism commented on #65
Hi there!
Please take a look at the above. This issue basically breaks the code b/w the provider versions, which is never good.

[2020-06-18 20:24] aj-cruz opened #66 "Add Feature: Add class to aci_vrf to modify Preferred Group"
I apologize if it is there and I'm not seeing it in the provider documentation, but I'd like to be able to set the Preferred Group option (enabled or disabled) on the VRF from Terraform.

Thanks.

[2020-06-18 20:29] #66 closed

[2020-06-19 16:19] aj-cruz opened #67 "Add Feature: Attach Application EPGs to AAEP"
I've been looking through the provider documentation but I don't see a way to add application EPGs directly to an AAEP (class infraRsFuncToEpg I think).

[2020-06-21 15:30] dannielshalev commented on #53
@vfiftyfive - after your last fix(on version v0.3.0) it's working thanks!

[2020-06-21 15:30] #53 closed

[2020-06-22 04:24] nkatarmal-crest commented on #65
@aism We have changed the accepted values for all the relation_* objects to accept id as a valid values. To be in consistent with other relation MOs. So from v0.3.0 all the relation objects will accept id as allowed values.

[2020-06-22 04:24] #65 closed

[2020-06-22 04:26] nkatarmal-crest commented on #27
@francesco-supportlan Please have a look at the new params added to support the nested dicts more easily with ACI rest.

Doc: https://www.terraform.io/docs/providers/aci/r/rest.html

[2020-06-22 04:26] #20 closed

[2020-06-22 04:27] nkatarmal-crest commented on #20
Closing as we haven't heard back in long time.

[2020-06-22 04:28] nkatarmal-crest commented on #38
@vfiftyfive we have added this feature.

Doc: https://www.terraform.io/docs/providers/aci/r/vzbrcp.html

Can we close this isssue?

[2020-06-22 04:29] nkatarmal-crest commented on #49
@cpaggen We have added new resource to address this request.
Please find the doc link here: https://www.terraform.io/docs/providers/aci/r/fvrsdomatt.html

[2020-06-22 04:29] #49 closed

[2020-06-22 04:31] nkatarmal-crest commented on #50
We have added a new resource to address this request.

Please find the documentation for the same here: https://www.terraform.io/docs/providers/aci/r/infranodeblk.html

[2020-06-22 04:31] #50 closed

[2020-06-22 04:32] nkatarmal-crest commented on #43
@aj-cruz This issue should be resolved in the provider v0.3.0. Please try to run your terraform configuration using that version and let me know whether it solves your error not.

[2020-06-22 04:35] nkatarmal-crest commented on #44
@francesco-supportlan Please use the latest version of provider v0.3.0. In which we have fixed this issue. Let me know if your are still seeing this.

[2020-06-22 04:35] #44 closed

[2020-06-22 04:36] nkatarmal-crest commented on #39
@vfiftyfive We have fixed this issue in the latest version of provider v0.3.0. Let me know if you are still facing this issue.

[2020-06-22 12:48] aj-cruz commented on #43
@nkatarmal-crest Confirmed it is fixed. Thanks.

[2020-06-22 13:38] dannielshalev opened #68 "relation_infra_rs_acc_base_grp fail to be update in aci_access_port_selector resource"
Hi friends,

when I attempt to attach the interface policy group to the port selector (relation_infra_rs_acc_base_grp) it fails to do so.

I do it with the following resource:

[code]

I've tried using `name` / `id` none of them seems to work!

when I do the above via "aci_rest" everything seems to work:

[code]

Thanks In advanced

[2020-06-23 06:16] nkatarmal-crest commented on #68
@dannielshalev I will look into this issue.

[2020-06-23 06:19] #43 closed

[2020-06-23 06:19] #27 closed

[2020-06-23 17:09] #39 closed

[2020-06-23 17:29] #38 closed

[2020-06-23 19:14] dannielshalev opened #70 "state fail to recognize aci_leaf_profile.leaf_profile existing resource and recreates it"
Hi Friends,

I have the blew resources after creation on a second terraform plan/apply they are recreated this is against the terraform designed of idempotency:

this existing resource :

[code]
when I run a terraform plan I get:

[code]

I get the same for:
./terraform state show module.po2.aci_access_port_selector.port_selector
[code]

./terraform plan:
[code]

this behavior happens since your l

[2020-06-24 04:04] nkatarmal-crest commented on #70
@dannielshalev It would be good if you can share your Terraform configurations snippet as well.

[2020-06-24 05:32] nkatarmal-crest commented on #70
@dannielshalev I have tried to reproduce this issue in my local environment, It works fine. I think something in your configuration is deleting the leaf_interface_profile and that results into this issues.

CC: @vfiftyfive

[2020-06-24 06:49] dannielshalev commented on #70
@nkatarmal-crest - I use a module in my configuration and I just run terraform apply and wait 5 minutes then rerun terraform again...

This is the main file I use:
[code]
this is the module I use to create this resources:
[code]
This is the var file:
[code]

[2020-06-24 07:18] nkatarmal-crest commented on #70
@dannielshalev

I created same module on my machine and applied the same Terraform Configuration, I am not facing the issue you are facing. Please check your APIC Audit logs for the deletion of the objects you are creating using Terraform. I think the objects are deleted and that's why Terraform is not able to find them in next run.

Here is the output from my Terraform module, i have used the sam

[2020-06-24 08:40] dannielshalev commented on #70
@nkatarmal-crest - you are correct it was something in my environment sorry for the trouble

[2020-06-24 08:40] #70 closed

[2020-06-24 10:48] nkatarmal-crest commented on #67
@aj-cruz I think you are looking for this. https://www.terraform.io/docs/providers/aci/r/infraprovacc.html#relation_infra_rs_func_to_epg.

[2020-06-24 13:31] aj-cruz commented on #67
@nkatarmal-crest I don't know if that's the right one, the name is strange but the class looks right.
However, if it is supposed to be used for the EPG-to-AAEP relation, it is missing a couple important attributes:
encap
mode

I went ahead and tried it, here's what the plan looks like:
[code]

Here are the results:
[code]

But no relation is made in ACI. Here's the trace:
[code]

And here's what a

[2020-06-24 13:43] nkatarmal-crest commented on #67
@aj-cruz I will add a new relation resource, so that we can manage other parameters as well.

[2020-06-24 15:20] JBaptisme33 opened #72 "VPC Logical Pair Id seem missing in resource_aci_fabricexplicitgep.go"
Hello,

Again, thanks for your big work, it improve our daily work a lot
Logical Pair Id paramater seem missing in aci_vpc_explicit_protection_group

Indeed, after creating a protection group, there is a issue regarding actual Logical Pair Id (0) instead of number between 1 to 1000

Logical Pair Id seem available in same class then others parameters (fabric:ExplicitGEp / fabric:AProtGEp:id) https:

[2020-06-24 16:56] nkatarmal-crest commented on #68
@dannielshalev please use the v0.3.1 for the provider it fixes this issue.

[2020-06-24 17:02] nkatarmal-crest commented on #35
@cbts-jonathanarcher @aj-cruz Can you please try using v0.3.1? I have fixed this issue in that version.

[2020-06-24 17:15] nkatarmal-crest commented on #72
@JBaptisme33  https://www.terraform.io/docs/providers/aci/r/fabricexplicitgep.html#vpc_explicit_protection_group_id, here is the attribute you are looking for. Let me know if you need any help with that.

[2020-06-24 17:28] JBaptisme33 commented on #72
Hi
I'm a bit confused.
I will try tomorrow again but vpc_explicit_protection_group_id require a string and I want to give a number between 1 and 10000.
I was able to fix the value via the rest modulebut I don't understand via this terraform ressource how link is done between this attribute and the final explicit value for the vpc domain

Thanks again

Jean-Baptiste

[2020-06-24 17:38] nkatarmal-crest commented on #72
@JBaptisme33 though it's a string it will convert your number internally and will pass it to the payload. vpc_explicit_protection_group_id attribute is mapped to the id in the JSON payload.

[2020-06-24 17:41] aj-cruz commented on #35
@nkatarmal-crest Confirmed I can now link the interface policy group to the port selector using relation_infra_rs_acc_base_grp
Thanks!

[2020-06-24 17:42] #35 closed

[2020-06-25 07:35] JBaptisme33 commented on #72
Hello,
I've understood.
Id need to be passed as number, anad not a string like
`vpc_explicit_protection_group_id = 3`
and not
`vpc_explicit_protection_group_id = "3"
`
It is ok right now,

[2020-06-25 07:35] #72 closed

[2020-06-27 01:47] aj-cruz opened #73 "Failure attaching VLAN pool to VMM domain"
Using relation_infra_rs_vlan_ns or relation_infra_rs_vlan_ns_def with the VLAN pool dn.
relation_infra_rs_vlan_ns gives the following debug:
[code]

[2020-06-27 18:54] aj-cruz opened #74 "Creating multiple vpc protection groups causes 2nd apply to swap switch IDs"
When I create four VPC Protection groups and run the plan, everything works perfect. If I run it a 2nd time it wants to swap switch IDs. Sometimes the group is different, sometimes two of the groups want to swap IDs.

Here's the entirety of the plan:

[code]

It creates the four groups on the first run no problem, but the 2nd run it wants to swap the IDs, and it changes from time to time which gro

[2020-06-27 21:40] aj-cruz commented on #74
Update: I stripped everything out of my plan so that the only thing created are the four vpc protection groups and I get the same behavior with the protection groups when I run the plan the 2nd time.

[2020-06-28 01:12] aj-cruz opened #75 "Applying Preferred Group to VRF doesn't work on 1st run, does on 2nd"
Using resource aci_any trying to enable preferred group in a VRF using VRF dn with parameter pref_gr_memb doesn't work on the 1st apply, but if I immediately apply a 2nd time it does work.
Here's my TF file:
[code]

[code]

Attached is the debug.
[terraform.log](https://github.com/terraform-providers/terraform-provider-aci/files/4841515/terraform.log)

[2020-06-28 02:52] harelh opened #76 "Fex support"
Hi,
I didn't find any way to attach a FEX to ACI fabric with Terrform, It seems few component are missing (like FEX Profile..).
I made it meanwhile with the following steps & API calls :
Leaf 103 - Eth 1/1 - Fex 113
[code]

Is there any option to add FEX support to the provide?

[2020-06-28 10:48] dannielshalev commented on #76
Hi,
This is a very important component for us well
We use Fex Extention a lot more common then we use leaves.

[2020-06-28 15:25] aj-cruz commented on #74
I can see my state file after the 1st run does not reflect the proper IDs, Switch1 should be 201:
[code]

As far as I can tell it is correct in the actual ACI config. Meaning 201 is listed before 202 and assuming the first number is switch1.

[2020-06-29 20:42] aj-cruz opened #77 "Attaching Domain to L3Out Fails"
using dn of the domain for relation_l3ext_rs_l3_dom_att the plan runs with no error, but does not attach the domain.
In the debug I see this error:
unknown property value L3Out-Dom, name tDn,

Here's the debug:
[code]

[2020-06-30 04:11] francesco-supportlan commented on #27
Works great!
Thanks

[2020-06-30 16:19] cvad2or opened #78 "Importing Application profile"
Hello,

I have an issue with importing App profile to Terraform from Cisco ACI. I use next resource in .tf file:

 resource "aci_application_profile" "APP_4" {
name= "APP_4"
tenant_dn= "uni/tn-New"
}
 and importing CLI will be:

 **terraform import aci_application_profile.APP_4 uni/tn-New/ap-APP_4**

but after successful importing this resource and during the planning I receive next message:

  **

[2020-07-01 05:00] nkatarmal-crest commented on #77
@aj-cruz Will look into this issue.

[2020-07-01 05:01] nkatarmal-crest commented on #78
@cvad2or Thanks for opening this. I will look into this issue.

[2020-07-01 08:12] dannielshalev commented on #68
@nkatarmal-crest @vfiftyfive - Thanks a lot it's working!

[2020-07-01 08:13] #68 closed

[2020-07-01 13:50] cvad2or commented on #78
Hello, do you think this is a problem only with app or may be with all resources?

[2020-07-01 13:51] cvad2or commented on #78
Hello, do you think this is a problem only with app or may be with all resources?

[2020-07-01 16:53] nkatarmal-crest commented on #77
@aj-cruz Which resource you are referring here?

[2020-07-01 16:55] nkatarmal-crest commented on #78
It may be an issue with some other resource as well, where the parentDN extraction logic is not working as per the dn format. I will check all the resources and will take necessary actions to resolve them.

[2020-07-02 02:13] aj-cruz commented on #77
@nkatarmal-crest aci_l3_outside

[2020-07-06 11:47] nkatarmal-crest commented on #77
@aj-cruz Can you please try with v0.3.2? I have fixed this issue in that version.

[2020-07-06 11:47] nkatarmal-crest commented on #75
@aj-cruz Can you please try with v0.3.2? I have fixed this issue in that version.

[2020-07-06 11:47] nkatarmal-crest commented on #74
@aj-cruz Can you please try with v0.3.2? I have fixed this issue in that version.

[2020-07-06 11:48] nkatarmal-crest commented on #73
@aj-cruz Can you please try with v0.3.2? I have fixed this issue in that version.

[2020-07-06 12:45] aj-cruz commented on #73
@nkatarmal-crest Confirmed the VLAN pool is now added. Thanks!

[2020-07-06 12:49] aj-cruz commented on #75
@nkatarmal-crest Confirmed the preferred group is now enabled on the initial run. thanks!

[2020-07-06 12:55] aj-cruz commented on #77
@nkatarmal-crest Confirmed the domain now attaches to the L3Out. Thanks!

[2020-07-06 12:56] aj-cruz commented on #74
@nkatarmal-crest Confirmed creating multiple vpc protection groups creates the correct switch IDs on 1st apply and subsequent applies do not try to change them. Thanks!

[2020-07-06 12:59] nkatarmal-crest commented on #77
@aj-cruz Thank You for the super quick response there!! I am closing this issue, feel free to reopen if you are facing it again.

[2020-07-06 12:59] #77 closed

[2020-07-06 12:59] nkatarmal-crest commented on #75
@aj-cruz Thank You for the super quick response there!! I am closing this issue, feel free to reopen if you are facing it again.

[2020-07-06 12:59] #75 closed

[2020-07-06 13:00] nkatarmal-crest commented on #74
@aj-cruz Thank You for the super quick response there!! I am closing this issue, feel free to reopen if you are facing it again.

[2020-07-06 13:00] #74 closed

[2020-07-06 13:00] nkatarmal-crest commented on #73
@aj-cruz Thank You for the super quick response there!! I am closing this issue, feel free to reopen if you are facing it again.

[2020-07-06 13:00] #73 closed

[2020-07-09 10:52] aism commented on #65
I understand. Nevertheless, I don't see it's being mentioned in any public-facing docs.
Could you please point me out to where it's documented, or document this change if it wasn't already?

[2020-07-09 14:18] maty0609 opened #80 "EPG Subnet"
I'm not sure if I have missed something but I would need to add EPG Subnet. Is this supported?

I can't see anything here https://www.terraform.io/docs/providers/aci/r/fvaepg.html

Thank you!

[2020-07-09 15:01] aj-cruz commented on #80
@maty0609 Try this: [https://www.terraform.io/docs/providers/aci/d/fvsubnet.html](url)

[2020-07-10 14:25] JBaptisme33 opened #81 "Apply a VPC Interface Policy Group - relation_infra_rs_acc_bndl_grp_to_aggr_if"
### Description

How to MAP attribute relation_infra_rs_acc_bndl_grp_to_aggr_if  (class aci_pcvpc_interface_policy_group) to Class pcAggrIf ?

It seem not possible to dynamicly provide relation between a VPC Policy Group and applied PC/VPC interfaces via the correlty definied Acces_Port_Selector ?

Which attribute apply to relation_infra_rs_acc_bndl_grp_to_aggr_if ?
When looking for pcAggrIf class

[2020-07-15 15:04] codrake opened #82 "Add allow_useg to aci_epg_to_domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-17 16:51] poomnupong commented on #67
Has been looking for this too.
Here's workaround I'm using with aci_rest. Interested in seeing if there's a better way.
aci_rest doesn't seem to track state so I have wrapper script that taint this resource before deploy.
[code]

[2020-07-20 04:18] nkatarmal-crest commented on #82
@codrake Sure i will add this param to the mentioned resource.

[2020-07-20 04:20] nkatarmal-crest commented on #80
@maty0609 We have a separate resource to manage the subnets. You can find it here https://www.terraform.io/docs/providers/aci/r/fvsubnet.html. In the parameter bridge_domain_dn if you pass the value of EPG dn, it will create the subnet under the EPG. This will unblock you on your work meanwhile i will add a concrete solution for this use-case.

[2020-07-20 22:50] rypatterson opened #86 "Anyone aware of L4-L7 resource deployment (Service Graph, Devices, PBR)?"
Deploying a new ACI environment and so far I've been able to deploy everything using the TF ACI Provider with the exception of L4-L7 services. Any assistance is greatly appreciated.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintain

[2020-07-21 03:35] aj-cruz opened #87 "Resources to manage Spine Switch Profiles and Interfaces"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-07-21 03:57] nkatarmal-crest commented on #86
@rypatterson Can you please add the class names which you are looking for? I can help with resource docs or can add new resources if we don't have in our bag.

[2020-07-21 03:58] nkatarmal-crest commented on #87
@aj-cruz Thank you for opening this issue. We will add the required resources shortly.

[2020-07-21 03:59] nkatarmal-crest commented on #81
CC: @vfiftyfive  Can you please assist here?

[2020-07-22 03:18] rypatterson commented on #86
Hello @nkatarmal-crest
Thank you very much for your support. I've attached an example JSON for a PBR policy I've configured within ACI. If this isn't helpful or you need additional information please let me know.

[svcRedirectPol-kcs-vl-916-pbr.txt](https://github.com/terraform-providers/terraform-provider-aci/files/4957619/svcRedirectPol-kcs-vl-916-pbr.txt)

[2020-07-22 04:33] nkatarmal-crest commented on #86
@rypatterson We don't have resources for this classes yet in the provider. We need to add new resources for them.

[2020-07-25 11:08] jhtut commented on #78
This issue is not just specific to "Application Profile".  I tried importing VRF, BD, Subnet, all import for those resources are missing the parent dn.  Do we know when likely it will be fixed?

[2020-07-30 07:29] maty0609 commented on #80
Brilliant. That one worked! Thank you for your help.

[2020-07-31 01:09] tigelane commented on #23
I don't see that this works sandboxapicdc.cisco.com or a production fabric.  It stopped working a few months ago it had been working (I was doing demos multiple times per week).  It was about the April time frame when this Issue was originally opened.  I was using the provider being directly downloaded (3.4).  I've come here, compiled directly from source and it doesn't change.  Still no contract

[2020-07-31 17:07] tigelane commented on #23
Provider uses .id now for contract, not .name.

[2020-08-11 07:35] aegiacometti opened #95 "import error: URI for connect to APIC seems incorrect"
The URI **/api/node/mo/TENANT.json** seems incorrect.
According my APIC it should be
**/api/node/mo/uni/tn-TENANT.json**

Where that URI gets defined?

Versions
[code]

My .tf file
[code]

The short error
[code]

Activating log
`adrian@adrian$ export TF_LOG=DEBUG`

The long error, go almost to the end
[code]

[2020-08-12 05:09] vfiftyfive commented on #95
Hi aegiacometti,

It looks like you've got the wrong syntax to import the tenant. We expect the Dn of the MO you want to import (absolute path). So your example should be:
``terraform import aci_tenant.TENANT /uni/tn-TENANT

[2020-08-12 05:27] vfiftyfive opened #96 "Support additional dn composition"
### Description

Decompose dn into discrete resource attributes for static path.

### Syntax example
Existing Syntax:

[code]

support following resource and syntax to reference the path:

[code]
We must be able to accommodate any type of port.

Nic

[2020-08-12 06:02] aegiacometti commented on #95
Hi vfiftyfive, thanks for your answer, I missed that. Now the URI seems correct, but I'm still having an error.
With Postman the URI returns perfect, so I assume it might be related to these WARN and/or ERROR ?

`2020-08-12T12:56:59.888+0700 [WARN]  plugin.stdio: received EOF, stopping recv loop: err="rpc error: code = Unimplemented desc = unknown service plugin.GRPCStdio"`

or maybe
[code]

Below

[2020-08-12 06:47] aegiacometti commented on #95
is this correct?
note AAA_LOGIN_AUTH is the realm name I use in the GUI. The username string is the same I use with Postman

[code]

[2020-08-12 07:04] aegiacometti commented on #95
YES found it !
Is the scape sequence "\\" in the .tf file it has to be double escaped with "\\\\"
So in the end the line is like this one:
username = "apic:AAA_LOGIN_AUTH\\\\userid"

thanks !!!

[2020-08-12 07:05] #95 closed

[2020-08-12 08:21] vfiftyfive commented on #81
Hi @JBaptisme33 ,

If I understand correctly, you want to create a VPC Policy Group and attach interfaces. Here's a snippet on how to do it. You'll notice that here I'm using an existing Policy Group, but creating the object is trivial.

[code]

Nic

[2020-08-12 18:46] vfiftyfive opened #97 "Add details on how to escape character for APIC login in the documentation"
### Description
Add details on how to escape character for APIC login in the documentation. Example of login + domain usage with escape character:

[code]
Nic

[2020-08-12 18:53] vfiftyfive opened #98 "aci_access_port_block should have default name attribute"
### Description

In APIC UI, when class `infraPortBlk` object is instantiated, the `name` attribute is auto-generated.
in Terraform, the corresponding resource is `aci_access_port_block`. Currently, if the user doesn't explicitly define the `name` property, a runtime error occurs. Instead, the provider should also create a default value.

Nic

[2020-08-12 18:57] vfiftyfive opened #99 "Rename aci_pcvpc_interface_policy_group"
### Description

Rename `aci_pcvpc_interface_policy_group` resource as `aci_leaf_access_bundle_policy_group` for consistency with access port policy group class `aci_leaf_access_port_policy_group`

Nic

[2020-08-18 22:07] codrake opened #101 "Add more detail to documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-19 02:28] jhtut commented on #78
@nkatarmal-crest  Is there progress made on this?

[2020-08-25 20:01] PhilipWhiteside opened #102 "Security Domain Creation & Mapping"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-08-30 17:11] #80 closed

[2020-08-30 17:12] vfiftyfive commented on #80
User problem solved

[2020-09-02 23:56] Bullenj01 opened #104 "res_imedcy not working on first run"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-05 06:02] vfiftyfive opened #106 "rtr_id_loop_back should accept both yes and true as values"
Resource `aci_logical_node_to_fabric_node` is marked for change when `rtr_id_loop_back` is set to `true`.
It should support both `true` and `yes` indifferently.

Nic

[2020-09-05 06:09] vfiftyfive opened #107 "Add fabricHIfPol class as resource"
Create new resource for ACI MO class `fabricHIfPol`

Nic

[2020-09-05 06:16] vfiftyfive opened #108 "Support inline block for aci_leaf_profile"
The provider should support the following syntax:

[code]

Nic

[2020-09-05 06:17] vfiftyfive opened #109 "Rename aci_switch_association to aci_leaf_selector"
Rename resource `aci_switch_association` to `aci_leaf_selector`.

Nic

[2020-09-05 06:19] vfiftyfive opened #110 "Typo in documentation for resource aci_interface_fc_policy"
The title section is displayed as `aci_app_profileaci_interface_fc_policy` instead of `aci_interface_fc_policy`.

Nic

[2020-09-05 06:21] vfiftyfive opened #111 "Documentation: Display resources in alphabetical order."
Sort resources in alphabetical order in the documentation.

Nic

[2020-09-05 06:31] vfiftyfive opened #112 "Changing leaf profile name doesn't mark node_block for reprovisioning"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-05 06:41] vfiftyfive opened #113 "Add aci_fabric_path_ep as data source."
Add ACI Object fabricPathEp as data source `aci_fabric_path_ep`.

Nic

[2020-09-05 18:04] Atul9 commented on #109
Hi @vfiftyfive I would like to take this up

[2020-09-06 23:41] vfiftyfive commented on #109
Please feel free to submit a PR!
Thanks

Nic

[2020-09-07 03:12] Atul9 commented on #109
@vfiftyfive done, I have opend up a PR at https://github.com/terraform-providers/terraform-provider-aci/pull/114

[2020-09-10 21:02] Bullenj01 commented on #104
its possible, the problem was because I was using relation_fv_rs_dom_att under the aci_application_epg resource then following it up with a aci_epg_to_domain resource.  When I remove the relationship out of the aci_application_epg resource and just use the dedicated resource for this I don't have this problem anymore

[2020-09-10 21:31] Bullenj01 commented on #104
spoke to soon.  without the relation_fv_rs_dom_att under the epg you end up in a terraform apply loop where the first run it creates the domain from the aci_epg_to_domain resource but if you run terraform apply again you get this:
[code]

[2020-09-10 21:44] Bullenj01 commented on #104
@nkatarmal-crest just looked at your pull request and see that you are removing that relation as a choice under the epg which is just what I was about to suggest...just a few days late.  I should be good after the next release.  thanks!

[2020-09-12 15:03] pradeepnnv commented on #111
Is it enough to fix the order in this page? https://github.com/terraform-providers/terraform-provider-aci/blob/master/website/docs/index.html.markdown

Can I work on this issue?

[2020-09-14 23:23] gnuowned opened #118 "aci_filter_to_subject module missing"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-15 18:16] chambear2809 opened #119 "Incorrect credentials leads to misleading error message"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-16 06:51] lhercot commented on #118
Hi @gnuowned,

Can you check this example: https://github.com/terraform-providers/terraform-provider-aci/blob/master/examples/subject/subject.tf

I think it does what you are looking to do starting at line 14.

Let me know if it is not sufficient.

Kind regards,

[2020-09-16 17:00] #109 closed

[2020-09-16 17:24] gnuowned commented on #118
Yes, It is... I made it work looking exactly that file, the problem is that is not well documented on the terraform webpage.

[2020-09-16 17:24] #118 closed

[2020-09-17 17:38] bestpath-gb opened #121 "Cannot use custom port with aci_filter_entry resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-18 13:28] euphdk commented on #121
Same problem with `aci_lacp_policy`:

[code]

[2020-09-21 04:15] nkatarmal-crest commented on #112
@vfiftyfive v0.4.0 should fix this issue.

[2020-09-21 04:15] nkatarmal-crest commented on #110
Fixed this issue in v0.4.0.

[2020-09-21 04:15] #110 closed

[2020-09-21 04:16] nkatarmal-crest commented on #104
@Bullenj01 I have fixed this issue in v0.4.0 of the provider. Feel free to reopen the issue if you are still facing it.

[2020-09-21 04:16] #104 closed

[2020-09-21 04:17] #112 closed

[2020-09-24 00:28] davemcdonnell commented on #121
+1 for this issue. I cant see how anyone could be using this module in production without being able to specify a port outside of "ftpData smtp dns http pop3 https rtsp".

[2020-09-24 04:55] nkatarmal-crest commented on #121
@davemcdonnell, @bestpath-gb please use the latest version (0.4.1) which fixes the issue.

[2020-09-24 12:37] bestpath-gb commented on #121
@nkatarmal-crest That's sorted the problem with `aci_filter_entry` resources. Thanks. The documentation needs updating with the new location of the provider but I can open a different issue for that.

@euphdk If v0.4.1 doesn't fix your problem with `aci_lacp_policy`, open a fresh issue.

[2020-09-24 12:37] #121 closed

[2020-09-28 05:01] nkatarmal-crest commented on #111
@pradeepnnv I have fixed this issue in the latest version of provider. However you will need to arrange the ordering in the website/aci.erb file.

[2020-09-28 05:01] #111 closed

[2020-09-28 06:45] euphdk opened #126 "aci_lacp_policy doesn't accept more than one 'ctrl' property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-09-28 12:43] pradeepnnv commented on #111
Thanks @nkatarmal-crest.

[2020-09-29 12:48] nkatarmal-crest commented on #81
@vfiftyfive can we close this one?

[2020-09-29 12:58] euphdk commented on #81
I don't think relation_infra_rs_acc_bndl_grp_to_aggr_if should be available as an option the aci_pcvpc_interface_policy_group/aci_leaf_access_bundle_policy_group?

The relation is created on the aci_access_port_selector as @vfiftyfive mentions, and relation_infra_rs_acc_bndl_grp_to_aggr_if refers to an interface which is internally named in ACI. Hope it makes sense?

[2020-09-29 14:56] Bullenj01 commented on #67
I had created my own module for this because I didn't find this resource till I happened across this Issue.  I would say a rename of this function may be needed because when people are looking for it they are going to search for something that has epg and aep.  Nobody is going to know that aci_epgs_using_function maps an EPG to an AEP.  First block is my original module that I've been using in pro

[2020-09-29 18:46] d0ckt8le opened #129 "aci_leaf_access_bundle_policy_group - relation_infra_rs_acc_bndl_grp_to_aggr_if keeps getting changed"
Hi,

We are using version 0.4.1.
When I create a aci_leaf_access_bundle_policy_group everything is configured fine.
The next time I run TF wants to remove the values of relation_infra_rs_acc_bndl_grp_to_aggr_if  which are generated during applying.
After applying the changes when running TF again the same scenario is repeated.
The provider should persist the information to the state.

`# module.bl

[2020-09-29 18:49] #129 closed

[2020-09-30 08:12] euphdk commented on #81
Tried the following patch, and it seems to remove the problem.

I'm not proficient in either Terraform code or the provider code and is stille learning the ins and outs of ACI. So I don't know if this creates any other problems.

[code]

[2020-09-30 22:55] xinyuezhao opened #131 "[ aci_epg_to_domain] resource is updated instead of being recreated when 'tDn' is changed"
### Affected Resource(s)

* aci_epg_to_domain

### Expected Behavior
If 'tDn' of an existing 'aci_epg_to_domain' resource is changed, this resource should be deleted first and then recreated with new 'tDn'

### Actual Behavior
The resource is just updated with new 'tDn'

[2020-10-03 22:51] marinalf opened #133 "relation_cloud_rs_zone_attach or zone not mapping subnet to AZ in Cloud ACI for AWS"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-03 23:05] marinalf opened #134 "Add Resource/Knob to enable TGW for a region and associate subnets for attachments"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-06 18:41] Bullenj01 opened #135 "aci_epg_to_static_path update to existing resource"
when updating a static path you cannot change the physical interface without commenting out the resource submitting and then uncommitting with the new port.  For example, you originally submitted eth1/1 as the port but it was actually eth1/2.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-commen

[2020-10-06 19:09] Bullenj01 opened #136 "Change terraform registry documentation to be searchable by the resource name"
On the terraform registry, the searchable portion is based on class name which is not user friendly.  For example, if I just type domain in there it should pull up the aci_epg_to_domain resource as well as other resources for domain specific actions.  A person would have to figure out the class of the epg-domain relation first and search for that in this case fvrsdomatt

![image](https://user-imag

[2020-10-07 12:24] Bullenj01 commented on #135
in the above case I had originally submitted with eth1/5 then changed to eth1/3.  You can see tdn change but not id

[2020-10-07 17:17] #131 closed

[2020-10-09 18:28] cpaggen opened #139 "aci_subnet scope only accepts one value"
If you try to set both public (advertised externally) and shared (shared between VRFs) in an aci_subnet resource, you get the following error: **expected scope to be one of [public private shared], got public shared**

The scope parameter should accept a list of strings, because it's possible for a BD subnet to be both public _and_ shared at the same time. Private and shared are accepted by the AP

[2020-10-10 06:14] vfiftyfive opened #140 "Add fvCep as data source"
Please add `fvCep` as a data source. As `fvCep` tdn represents the full path of the endpoint, it allows the user to derive a lot of relevant information, such as EPG, IP address, MAC address, Tenant, etc.
This is also required in the context of Consul NIA integration.

Nic

[2020-10-13 04:53] #135 closed

[2020-10-19 18:18] d0ckt8le commented on #78
I am also having this problem when importing a vrf.
It wants to recreate.

[2020-10-23 22:38] maty0609 opened #147 "aci_subnet - Error: missing expected ["
### Terraform Version

0.5.0

### APIC version and APIC Platform

Version: 4.1(2g)

### Affected Resource(s)

* aci_subnet
### Terraform Configuration Files

[code]
### Debug Output

[code]

### Expected Behavior

It would work :)

### Actual Behavior

[code]

### Steps to Reproduce
[code]

[2020-10-26 04:43] nkatarmal-crest commented on #139
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:44] nkatarmal-crest commented on #134
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:44] nkatarmal-crest commented on #133
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:44] nkatarmal-crest commented on #126
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:45] nkatarmal-crest commented on #119
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:45] nkatarmal-crest commented on #113
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:45] nkatarmal-crest commented on #108
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:45] nkatarmal-crest commented on #107
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:46] nkatarmal-crest commented on #106
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:46] nkatarmal-crest commented on #102
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:46] nkatarmal-crest commented on #101
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:47] nkatarmal-crest commented on #99
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:47] nkatarmal-crest commented on #98
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:47] nkatarmal-crest commented on #97
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:47] nkatarmal-crest commented on #96
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:48] nkatarmal-crest commented on #87
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:48] nkatarmal-crest commented on #86
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:51] nkatarmal-crest commented on #82
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:51] nkatarmal-crest commented on #78
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:52] nkatarmal-crest commented on #76
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:52] nkatarmal-crest commented on #67
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 04:55] nkatarmal-crest commented on #136
This issue has been fixed in the version 0.5.0 of the provider. Please try that and let me know if we can close this issue or not.

[2020-10-26 13:31] FrederikSuijs commented on #139
I just tried.

    bd_test.tf line 17, in resource "aci_subnet" "demosubnet":
      17:   scope       = "public,shared"

    Inappropriate value for attribute "scope": list of string required

It seems at least a list of strings is expected now.
However, now running into another error:

    Error: missing expected [

This is also reported in #147

[2020-10-26 17:17] marinalf commented on #133
Yes, the mapping is working now for both user and gateway subnets. The only thing missing is the name association per subnet. The name_alias gives the following error:

_Error: property nameAlias of uni/tn-Prod/ctxprofile-ctx-vrf1-useast1/cidr-[172.11.0.0/16]/subnet-[172.11.1.0/24] failed validation for value 'TGW subnet'_

[code]

[2020-10-26 17:20] euphdk commented on #126
It seems to work, but only after I did a `rm -rf terraform.tfstate .terraform/`. Before that I got a `Error: missing expected [`.

Don't know if it is related to #147 and #139 ?

[2020-10-26 17:55] marinalf commented on #134
I added the hub_network reference pointing to "uni/tn-infra/gwrouterp-default" and got the error below. Besides enabling TGW, we also need association to an existing hub network (defined during the first time setup) which I could not find an option for.

**Error:
Relation target dn uni/tn-infra/gwrouterp-default not found**

[code]
Updated code: https://github.com/marinalf/cloudaci-demo-terraform/

[2020-10-27 11:52] FrederikSuijs commented on #139
as @euphdk mentioned, starting from scratch with a new .tfstate does seem to work.
I quickly tried targetting https://sandboxapicdc.cisco.com/ and the bug seems resolved.

[2020-10-28 07:29] 020003 opened #149 "aci_l3_domain_profile and aci_physical_domain returning: Error: unknown attribute 'descr' in element 'physDomP'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-28 07:35] thomasnoppe commented on #139
I am also hitting this issue.
Starting from scratch in a working fabric is not an option ...

[2020-10-28 07:53] FrederikSuijs commented on #139
I did some testing and it seems you need to update the terraform.tfstate to comply to the new structure. You can use your favorite find/replace tool and apply something similar to this regex:
[https://regex101.com/r/1fTlrL/2](https://regex101.com/r/1fTlrL/2)

[2020-10-28 08:15] thomasnoppe commented on #139
Thx! I will give it a try.

[2020-10-29 09:34] euphdk opened #150 "aci_rest doesn't store correct id in state"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-10-29 11:29] jhtut commented on #78
@nkatarmal-crest Thanks for fixing.  I've tested with terraform v0.13 on ACI 4.2.1 for Tenant, VRF, BD and working fine to import.

Jus that it's trying to add annotation which flagged "~ update in-place".  I believe you can close this one now.

[2020-10-29 12:51] jhtut commented on #78
@nkatarmal-crest  Testing more import and noticed that aci_epg_to_contract doesn't support import.  Anyhow, I tried and received this error "Error: Contract Type: Value must be from [provider, consumer]".

Any plan to support importing for aci_epg_to_contract?

[2020-10-30 09:26] FrederikSuijs commented on #86
@nkatarmal-crest what resources are new exactly?
I have tried looking for vnsLIf,vnsCDev,vndAbsGraph,vnsAbsConnection... as they are called in the MO, but couldn't find any.

[2020-11-02 02:06] tigelane opened #152 "tags/annotations cause error or don't get created"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-02 05:47] nkatarmal-crest commented on #152
@tigelane APIC API doesn't allow to pass multiple annotations that way. Also with new versions of APIC tags in the UI are pointing to tagInst object rather than annotation parameter. So you are not able to view it in the UI.

CC: @lhercot @vfiftyfive

[2020-11-02 06:48] nkatarmal-crest commented on #147
@maty0609 You will get this error when you created the subnet in older version(i.e. 0.4.1) and you rerun terraform apply after shifting to newer version(i.e. 0.5.0) as newer version has some update in subnet resource.

So to solve this issue, just remove that particular resource using `terraform state rm` command and then do `terraform apply`. It will ask you to create new resource as older resour

[2020-11-02 08:24] euphdk commented on #126
Saw the response in #147, so closing the issue as the original problem has been resolved.

[2020-11-02 08:24] #126 closed

[2020-11-02 16:20] tigelane commented on #152
Ah thank you @nkatarmal-crest   It seems that tagInst isn't implemented in the provider yet.  Maybe this should be a feature request vs bug?

[2020-11-03 17:08] PhilipWhiteside opened #155 "Resource for DHCP Relay Policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-03 17:14] PhilipWhiteside opened #156 "Mapping of DHCP Relay Label into BD Resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-04 08:39] nkatarmal-crest commented on #150
@euphdk You have to give class name as an argument as it is used to extract DN. So try after giving class name into same definition and let me know if you need anything else.

[2020-11-04 09:08] euphdk commented on #150
@nkatarmal-crest Thanks, that helped :)

Now I just encountered that it puts the value en qoutes, so it gets "double qouted", and errors out when I try to use it elsewhere?

New config:

[code]

Output:

[code]

And state:

[code]

[2020-11-04 17:57] nkatarmal-crest commented on #152
@tigelane It should be a feature request for a new resource. I am closing this one out as it's not causing any issues in the code.

[2020-11-04 17:57] #152 closed

[2020-11-04 17:58] nkatarmal-crest commented on #139
Hey @FrederikSuijs , @thomasnoppe please don't use regex to do it. You can refer to this comment and fix your issue. https://github.com/CiscoDevNet/terraform-provider-aci/issues/147#issuecomment-720274320

[2020-11-04 23:11] smoncada-ntt-bcn commented on #102
I'm very interested in this resolution , please update , cause I can't get ride with shell:domains, I even cannot associate users to RBACs... Thank you !

[2020-11-05 11:41] #147 closed

[2020-11-05 11:41] #139 closed

[2020-11-05 11:41] #136 closed

[2020-11-05 11:49] nkatarmal-crest commented on #150
This issue has been fixed in the provider version 0.5.1.

[2020-11-05 11:50] nkatarmal-crest commented on #140
@vfiftyfive I have added this data source in v0.5.1. Please try that out and let me know if i need to add anything else.

[2020-11-05 11:51] #119 closed

[2020-11-05 11:51] #113 closed

[2020-11-05 11:51] #108 closed

[2020-11-05 11:52] #67 closed

[2020-11-05 11:52] #76 closed

[2020-11-05 11:52] #78 closed

[2020-11-05 11:53] #81 closed

[2020-11-05 11:53] #82 closed

[2020-11-05 11:54] #86 closed

[2020-11-05 11:54] #87 closed

[2020-11-05 11:54] #96 closed

[2020-11-05 11:55] #97 closed

[2020-11-05 11:55] #98 closed

[2020-11-05 11:55] #99 closed

[2020-11-05 11:56] nkatarmal-crest commented on #102
@smoncada-ntt-bcn I have already added resource for aaaDomain. If you need any other classes to be supported feel free to raise a new enhancement request.

[2020-11-05 11:56] #102 closed

[2020-11-05 11:56] #106 closed

[2020-11-05 11:57] #107 closed

[2020-11-05 11:58] nkatarmal-crest commented on #133
@marinalf name-alias is not supported this way for the subnet. @lhercot can help you with your use-case. Feel free to open new issue for the change you are looking for. I am closing out this one as the main issue mentioned in the description has been fixed in the v0.5.0

[2020-11-05 11:58] #133 closed

[2020-11-05 13:32] nkatarmal-crest commented on #134
@marinalf The dn you are using does not exist. That is why this error is thrown.

[2020-11-05 16:06] marinalf opened #158 "Add name for Cloud ACI subnets"
### Description

Unable to add names per subnet to separate TGW and user subnets

### Terraform Version

Terraform v0.13.4
aci v0.5.1

### APIC version and APIC Platform

5.0.2h on Cloud ACI for AWS.

### Affected Resource(s)

aci_cloud_subnet

### Terraform Configuration Files

[code]

### Debug Output

[code]
### Expected Behavior

Every subnet with unique name

### References

The name argument

[2020-11-06 11:01] euphdk commented on #150
Works like a charm 👍

[2020-11-06 11:01] #150 closed

[2020-11-07 10:37] lionelg3 opened #160 "Resource "aci_any" not managed"
### Description

The resource "aci_any" is not created. Using the short exemple bellow
the "VZ-ANY" consumed contract never appear in the "EPG collection for VRF".

### Terraform Version

+ Terraform v0.13.5
+ provider registry.terraform.io/ciscodevnet/aci v0.5.1

### APIC version and APIC Platform

+ Application Policy Infrastructure Controller Version: 4.1(1i)

### Affected Resource(s)

+ resour

[2020-11-10 04:24] nkatarmal-crest commented on #149
@020003  This issue has been fixed in the v0.5.1 of the provider. Please verify it once.

[2020-11-11 10:55] smoncada-ntt-bcn commented on #102
Thanks so much Nirav.

El jue., 5 nov. 2020 12:57, Nirav Katarmal <notifications@github.com>
escribió:

[2020-11-11 12:36] 020003 commented on #149
@nkatarmal-crest verified it and its working now. Thx for the quick support

[2020-11-11 13:47] zilgopy opened #161 "ACI L2ext domain"
Hi,
I found that I am not able to find a resource for creating an L2ext domain.  There are physical domains, L3ext domains and vmm domains, but it seems like it doesn't provide **External Bridged Domains**.
![image](https://user-images.githubusercontent.com/59171349/98819256-9847b600-2467-11eb-8c75-2aacc467654c.png)

[2020-11-11 23:10] jhtut opened #162 "HOW-TO aci_contract with filter and filter entry?"
Hi

I tried the example provided  in aci_contract with filter and filter entry.  Is it suppose to create the subject as well which basically tied contract and filter.  I think allowing to create filter/filter entry is good starting point but really need subject to make it complete.  Are we expecting this in 0.5.2?  Thanks.

resource "aci_contract" "foocontract" {
        tenant_dn   = "${aci_tenan

[2020-11-12 02:45] jhtut opened #163 "aci_contract import not working as expected"
### Terraform Version

$ terraform -v
Terraform v0.13.5
+ provider registry.terraform.io/ciscodevnet/aci v0.5.1

### APIC version and APIC Platform

* V 4.2(3I) and on-prem.

### Affected Resource(s)

* aci_contract

### Terraform Configuration Files

resource "aci_contract" "TerraformDemoTest" {
    annotation  = "orchestrator:terraform"
    name        = "TerraformDemoTest"
    prio        = "un

[2020-11-12 12:09] #149 closed

[2020-11-12 18:25] scotttyso commented on #162
You need another resource with the subject to attach the two.  Below is an example

[code]

[2020-11-12 22:44] scotttyso opened #164 "resource aci_contract filter option's not saving d_from_port and d_to_port"
#138 # Terraform Version
Terraform v0.13.5
+ provider registry.terraform.io/ciscodevnet/aci v0.5.1

### APIC version and APIC Platform
APIC Version is 4.2(5k) - using simulator right now

### Affected Resource(s)
aci_contract

### Terraform Configuration Files

[code]

### Debug Output

[code]

### Expected Behavior

The problem is that the d_from_port and d_to_port for the second two filter entri

[2020-11-12 23:06] conmurphy commented on #164
in this file

https://github.com/CiscoDevNet/terraform-provider-aci/blob/355a01f58f7d7cf8e9a8fdc59b39a2f302abd1e8/aci/resource_aci_vzbrcp.go

starting line 537 in this function `func setFilterEntryAttributesFromContract` there’s a map

[code]

if the `d_from_port` or `d_to_port` keys exist in this map it will return the protocol number. that’s why the https and unspecified filters store the correc

[2020-11-12 23:33] scotttyso commented on #164
Good enough for me.  I missed it in the docs... thank you for the quick reply.

[2020-11-12 23:33] scotttyso commented on #164
You can close this request

[2020-11-13 00:41] scotttyso commented on #164
As another thing to change, the only valid protocols are https, smtp, http, ftp-data, Unspecified, dns, pop3, or rtsp... SSH is not a valid option.  That should be removed from the list.  When I just tried this using ssh I got the following:
[code]

[2020-11-13 19:43] rtrcwby5183 opened #166 "aci_subnet doesn't accept more than one 'ctrl' property"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-11-13 23:47] jhtut commented on #162
@scotttyso Thanks.  It's just my wishful thinking of having all done in one resource.  👍  It would be cool though as in our space, we always create one contract -> one subject -> one filter which is always provided by one EPG.

[2020-11-16 13:52] marinalf commented on #134
Please, can you clarify your comment when you say the dn I am using does not exist? I am not sure which dn are you referring to, as I am using the exact sample code.

[code]

<img width="717" alt="image" src="https://user-images.githubusercontent.com/12536683/99259434-041f7b00-27e8-11eb-9b72-9fb66c8a8d24.png">

- hub_network - (Optional) hub network Dn which enables Transit Gateway.

[https://regi

[2020-11-18 15:58] nirav-cloudknox commented on #163
@jhtut You can ignore this one. It won't affect anything on the API side.

[2020-11-18 16:06] nkatarmal-crest commented on #163
@jhtut It's expected, it won't have any effect on the API.

[2020-11-18 16:06] #163 closed

[2020-11-18 16:09] #140 closed

[2020-11-18 16:10] nkatarmal-crest commented on #134
@marinalf this one, uni/tn-infra/gwrouterp-default

[2020-11-18 16:40] marinalf commented on #134
ok, do you have a working example I can use that enables TGW and associate it to an existing Hub network?

[2020-11-19 22:47] marinalf commented on #134
I fixed it by replacing "default" with "hub1", which is the name I used during initial setup. It would be great to have the documentation being more specific.

[code]

Thank you!

[2020-11-20 04:27] nkatarmal-crest commented on #134
@marinalf since this issue has been fixed i am closing this thread. The documentation improvements are tracked in other issue.

[2020-11-20 04:27] #134 closed

[2020-11-20 07:58] nkatarmal-crest commented on #166
@rtrcwby5183 this issue has been fixed in the v0.5.2 of the Terraform provider. Please use that version to solve this issue.

[2020-11-20 07:59] nkatarmal-crest commented on #164
@scotttyso This issue has been fixed in the v0.5.2 of the provider. Please use that version to run your plan smoothly.

[2020-11-20 08:00] nkatarmal-crest commented on #160
@lionelg3 This issue has been fixed in the v0.5.2 of the Terraform provider.

[2020-11-20 08:00] nkatarmal-crest commented on #158
@marinalf this issue has been fixed in the v0.5.2 of the provider.

[2020-11-24 11:56] thomasnoppe commented on #160
Hi,

I run into the same bug and am glad that it is fixed.
Is it possible however that version 0.5.2 is not yet released to the terraform provider registry?

[2020-12-02 10:57] #166 closed

[2020-12-02 10:58] #164 closed

[2020-12-02 10:59] nkatarmal-crest commented on #160
@thomasnoppe  It's available in the registry. If you are not able to find out please open another issue as this issue resolves the bug mentioned in the desccription.

[2020-12-02 10:59] #160 closed

[2020-12-02 10:59] #158 closed

[2020-12-03 20:56] d0ckt8le opened #168 "provider 0.5.2 not available in terraform registry"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-04 04:31] lhercot commented on #168
Should be fixed now. It is now available here: https://registry.terraform.io/providers/CiscoDevNet/aci/latest

Can you confirm it is fixed for you too?

[2020-12-06 13:23] d0ckt8le commented on #168
It works now.

Thank you very much!

[2020-12-06 13:23] #168 closed

[2020-12-07 02:17] richwats opened #169 "aci_l3_ext_subnet - Scope should be list object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-07 07:20] scotttyso opened #170 "Priority Level Options Don't Match the Application Profile Options"
### Terraform Version
Terraform v0.14.0
+ provider registry.terraform.io/ciscodevnet/aci v0.5.1

### APIC version and APIC Platform

* V 4.2(5k) - Simulator - On Prem

### Affected Resource(s)

* aci_application_profile

### Terraform Configuration Files

[code]

### Debug Output

[code]

https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/application_profile

prio - (Opt

[2020-12-07 07:28] scotttyso opened #171 "Provider Version 0.5.2 Errors out after the end of the plan with error message Error: missing expected ["
### Terraform Version
erraform v0.14.0
+ provider registry.terraform.io/ciscodevnet/aci v0.5.2

### APIC version and APIC Platform

* APIC 4.2(5k) - Simulator - On Prem

### Affected Resource(s)

Unfortunately I have no idea what the affected resource is.  There isn't enough information.

When I try to run a plan the error message "Error: missing expected [" is returned.  I do not get this error m

[2020-12-07 08:54] thomasnoppe commented on #171
I have the same problem but on a running production fabric;
A while ago I had to do a state change for issue https://github.com/CiscoDevNet/terraform-provider-aci/issues/147
This seems very similar.

[2020-12-07 09:02] thomasnoppe commented on #171
The problem seems to be caused by the ctrl attribute being changed from string to list of strings

https://github.com/CiscoDevNet/terraform-provider-aci/pull/167/commits/f2ca8e77790dd1ba6f8a9dac0025bb2ea5c68bfd

[2020-12-07 09:07] thomasnoppe commented on #171
What would be the best way (without downtime) to fix this error?

I am using the aci_subnet resource in a custom module:

` {
      "module": "module.epg[\"291\"]",
      "mode": "managed",
      "type": "aci_subnet",
      "name": "subnet",
      "provider": "provider[\"registry.terraform.io/ciscodevnet/aci\"]",
      "instances": [
        {
          "index_key": 0,
          "schema_version":

[2020-12-08 18:46] scotttyso commented on #171
For me based on your feedback I just went and updated my terraform state file changing the ctrl to match the requirement

So I changed
"ctrl": "nd"
to
"ctrl": [
  "nd"
]

I ran the apply after making that change and it removed the error and didn't note it as a change.

Maybe someone else has a better suggestion but it worked for me.

[2020-12-09 17:17] nkatarmal-crest commented on #171
@scotttyso if you are running it as local state than it's good but if you are using remote state and than you should remove the whole resource using terraform state rm command and than run the terraform apply.

[2020-12-09 19:28] marinalf commented on #101
A request to add more clarity on how to enable TGW in AWS for those cases where the hub network name is already defined as part of the initial setup. The example has "gwrouterp-**default**" and it could be "gwrouterp-[name of existing hub network] which could not direct or through var.

source: https://github.com/CiscoDevNet/terraform-provider-aci/issues/134

[2020-12-11 21:33] vfiftyfive opened #173 "Allow range block in aci_vlan_pool"
Add support for block definition of ranges in vlan pool and remove requirement for "vlan-" prefix before vlan number:

[code]

[2020-12-11 21:37] vfiftyfive opened #174 "Fix aci_vlan_pool attributes and documentation"
According to the documentation, current supported attributes for `aci_vlan_pool` are:

-  vlan_pool_dn - (Required) Distinguished name of parent VLANPool object.
- _from - (Required) _from of Object ranges.
- to - (Required) to of Object ranges.
- alloc_mode - (Optional) alloc_mode for object ranges. Allowed values: "dynamic", "static", "inherit"
- annotation - (Optional) annotation for object ran

[2020-12-11 22:08] vfiftyfive opened #175 "Add missing resources to create VMware VMM"
Add the following resources to create a VMware VMM domain end to end:
- vmmCtrlrP
- vmmRsAcc
- vmmUsrAccP

The following syntax should be enabled (may need to create a new resource type solely for VMware vCenter VMM):
[code]

Nic

[2020-12-12 09:39] d0ckt8le commented on #171
I validated this on a simulator and seems to work.
I will apply this to production asap.

thx!

[2020-12-15 06:29] vfiftyfive opened #176 "Add resources for Consul Terraform Sync service-graph creation"
The following resources are needed to create Service Graph Templates:
- vnsAbsGraph
- vnsAbsNode
- vnsRsNodeToLDev
- vnsLDevCtx
- vnsRsLDevCtxToLDev
- vnsLIfCtx
- vnsRsLIfCtxToSvcRedirectPol
- vnsRsLIfCtxToLIf
- vnsRsLIfCtxToBD

When relation is strong between parent and children (children are not needed as standalone resources), nested inline resource block definition is preferred over individual

[2020-12-16 00:29] DravenChikken opened #177 "Complete L3OUT resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2020-12-16 04:57] camrossi opened #178 "Better usage example"
I think we should put on the readme that to use the provider we need to add this configuration.
Would have saved me 15min of looking ;)
[code]

[2020-12-16 06:44] camrossi opened #179 "EPG Contract Master Support"
ACI supports the concept of EPG Contract Master.
We should add support for this to the EPG resource

[2020-12-16 10:45] #171 closed

[2020-12-19 04:33] vfiftyfive opened #180 "Add fvRsCEpToPathEp as an attribute for data source fvCep"
`fvRsCEpToPathEp` class represents the path to an ACI Endpoint. It is a child of `fvCep`.
In the context of various automation use cases (such as Consul Terraform Sync), there's a need to derive the path of an ACI Endpoint with `fvCep` as input. As a consequence, we need to add `fvRsCEpToPathEp` as an attribute of `fvCep` data source for simplicity.
Note: check if any use case may involve multiple

[2021-01-04 05:31] nkatarmal-crest commented on #174
This issue has been fixed in the latest version of provider. Please download the latest version of provider (v0.5.3).

[2021-01-04 05:32] nkatarmal-crest commented on #180
This issue has been fixed in the latest version of provider. Please download the latest version of provider (v0.5.3).

[2021-01-04 05:32] nkatarmal-crest commented on #170
This issue has been fixed in the latest version of provider. Please download the latest version of provider (v0.5.3).

[2021-01-04 05:33] nkatarmal-crest commented on #169
This issue has been fixed in the latest version of provider. Please download the latest version of provider (v0.5.3).

[2021-01-04 13:56] scotttyso commented on #170
Thanks

[2021-01-07 07:26] huyenduong opened #183 "Update variable access style in examples script"
In new terraform format, variable can be accessed using simple format such as:

data "aci_vmm_domain" "ACI" {
    provider_profile_dn = var.provider_profile_dn
    name                = var.vmmDomain
}

However, example script stills old style:

resource "aci_vmm_domain" "foovmm_domain" {
        provider_profile_dn = "${aci_provider_profile.example.id}"

Can we update example scripts to use new s

[2021-01-07 16:42] jerewill-cisco opened #184 "aci_cloud_aws_provider resource fails when setting the region argument on cAPIC 5.1(2e)"
An apparent change in behavior in cAPIC as of the 5.1(2e) release now causes aci_cloud_aws_provider resources with the optional 'region' attribute set to fail.  Error message returned from the cAPIC is as follows.

"Error: Admin implicit props cannot be modified, prop=region"

[2021-01-12 06:27] lhercot commented on #179
@camrossi it seems this is already supported with "relation_fv_rs_sec_inherited" which would be a list of EPG DNs.

Can you verify if that works for you?

We might want to update the documentation on what it does.

[2021-01-12 13:04] lhercot commented on #173
I think you can use aci_ranges to achieve the same. Do we still need to add this capability?

[2021-01-12 17:49] trenzy commented on #173
You can use aci_ranges for this, See below. It still requires "vlan-xyz" for the the definition of the start and ending ranges.

# Add VLAN Ranges to VLAN pool with static allocation
resource "aci_ranges" "vlan_pool" {
  description = "Created with Terraform v0.13.4"
  vlan_pool_dn  = aci_vlan_pool.tf-vlan-pool.id
  from  = "vlan-650"
  to  = "vlan-659"
  alloc_mode = "static"
  role = "external"

[2021-01-13 09:32] vfiftyfive commented on #173
I don't think that it achieves the same thing. A block allows you multiple ranges. For aci_ranges, you'd have to create multiple resources, which is what the block usage is trying to avoid.

Nic

[2021-01-13 17:21] #180 closed

[2021-01-13 17:22] #174 closed

[2021-01-13 17:22] #170 closed

[2021-01-13 17:22] #169 closed

[2021-01-13 19:26] trenzy commented on #173
Would this capability be better in aci_ranges instead of aci_vlan_pool, since this is where we define the vlan ranges we want?

Then again, I'm not sure why we have separate resources for this.

[2021-01-14 03:01] lwy119 opened #186 "Adding Interface Policies (Link Level & Spanning Tree Interface)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 03:15] lhercot commented on #186
The ACI Link Level policy can be done with this module: aci_link_level_interface_policy
Documented at: https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/data-sources/fabric_if_pol

We will look to implement the spanning tree one.

[2021-01-14 12:20] FrederikSuijs opened #187 "ACI Best Practice Configurations: Enable MCP (per VLAN)"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 12:40] FrederikSuijs opened #188 "ACI Best Practice Configurations: Fabric Wide Setting Policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 12:47] FrederikSuijs opened #189 "ACI Best Practice Configurations: Configure EP Loop Detection"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 12:54] FrederikSuijs opened #190 "ACI Best Practice Configurations: Verify that IP Aging is enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 13:00] FrederikSuijs opened #191 "ACI Best Practice Configurations: Verify that Rogue Endpoint Detection is enabled"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 13:07] FrederikSuijs opened #192 "ACI Best Practice Configurations: Enable Strict COOP Group Policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 13:11] FrederikSuijs opened #193 "ACI Best Practice Configurations: Enable BFD for Fabric-Facing Interfaces"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 13:16] FrederikSuijs opened #194 "ACI Best Practice Configurations: Preserve COS through the ACI Fabric"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 15:29] NicolasMarcotte opened #195 "when the dn or the url change the aci_rest resource should be recreated"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-14 15:32] ThJVerne opened #196 "Resource for Policies Protocol - BFD and BGP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-15 07:42] FrederikSuijs opened #198 "Resource for VPC Domain Policy"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-15 08:26] FrederikSuijs opened #199 "Resources to manage Static Node Management Addresses, Node Management EPGs and Managed Node Connectivity Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-27 17:44] nirav-cloudknox commented on #184
@jerewill-cisco The region field, is optional there, can you try without the region field?

[2021-01-28 08:23] lhercot opened #200 "Remove unused module attributes for aci_external_network_instance_profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-29 02:10] scotttyso opened #201 "Enhancement: Create resources for fvRsNodeAtt and fvRsFcPathAtt and expose attributes for these relationships in aci_application_epg"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-01-29 05:05] nkatarmal-crest commented on #184
@vfiftyfive can we remove the bug label from this issue? I have tested this on the cloud APIC 4.2(3j) and it works perfectly there, it seems the issue is present only in the 5.1(2e) or highest.

CC: @lhercot

[2021-02-01 14:20] FrederikSuijs opened #202 "Commenting out optional parameter is not properly reflected in TF plan"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-01 21:14] mrdavehill opened #203 "Typo on line 17"
An argument named "tanent_dn" is not expected here. Did you mean "tenant_dn"?

Works a treat otherwise.

[2021-02-02 03:30] insobi opened #204 "Not returned id on tfstate after applying with aci_rest"
I am trying to manage some configurations using aci_rest. Creating a configuration with aci_rest has no issue, but it is not able to destory configurations created by aci_rest earlier because there was no returned id on tfstate related on it.

### Terraform Version

Terraform v0.13.5
+ provider registry.terraform.io/ciscodevnet/aci v0.5.4

### APIC version and APIC Platform

* V 4.1 (2g)

### Affe

[2021-02-03 14:06] scotttyso commented on #183
I would also add to the request the following

When the variable is Set of String, examples should show the required format.. i.e.
on aci_application_epg
relation_fv_rs_sec_inherited = [...]

[2021-02-05 03:22] #183 closed

[2021-02-05 04:54] camrossi commented on #179
Yes you are correct! Just tested and it works fine. Here is an example of a working code.

We should probably just document it a bit better, contract inheritance was the old name of the feature but now in the GUI is called contract Master and I think I was looking for it with that name.

[code]

[2021-02-05 05:00] lhercot commented on #203
This is referencing /website/docs/index.html.markdown

[2021-02-05 05:00] camrossi opened #209 "Add required_providers syntax in the usage examples"
The current examples are missing this:

[code]

We should add this in the following places:

- https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs#example-usage
- https://github.com/CiscoDevNet/terraform-provider-aci#using-the-provider

[2021-02-05 08:55] christung16 opened #210 "Add "Permit" "Deny" in Subject_contract"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-07 17:30] trenzy commented on #209
I am working on updating the documentation for both links. For the link:

https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs#example-usage

There is a "Use Provider" button at the top right of the page that provides an example like yours. I'll add something in the providers section to point to this.

For the link:
https://github.com/CiscoDevNet/terraform-provider-aci#using-the-pro

[2021-02-08 00:42] camrossi commented on #209
Thank you!
And I know about the "Use Provider" button but I keep forgetting of its existence  :D

[2021-02-08 18:52] lhercot opened #215 "Create a terraform resource and data source for ESG"

[2021-02-10 17:49] #179 closed

[2021-02-10 17:49] #203 closed

[2021-02-15 17:51] cpaggen opened #224 ""Bad signature" response when destroying aci_rest resources on Linux"
### Terraform Version

cisco@CPAGGEN-L57VS:~/TFORM/ACI/SIMPLE$ terraform --version
Terraform v0.14.6
+ provider registry.terraform.io/ciscodevnet/aci v0.5.4
cisco@CPAGGEN-L57VS:~/TFORM/ACI/SIMPLE$

### APIC version and APIC Platform

on-prem ACI 5.1(2e)

### Affected Resource(s)

aci_rest

### Terraform Configuration Files

[code]

### Debug Output

cisco@CPAGGEN-L57VS:~/TFORM/ACI/SIMPLE$ terrafor

[2021-02-16 17:10] scotttyso opened #231 "aci_lacp_policy - ctrl rejects multiple attributes and the documentation needs to be fixed for terraform and ACI API documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-16 17:12] scotttyso commented on #231
Sorry forgot to say that what I chose up above for the ctrl policy is what is shown in the example and is the default for the APIC.

[2021-02-18 09:36] cisco-simonyang opened #243 "vlan_pools alloc_mode change is not supported."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-20 20:18] qzx commented on #204
Hi @insobi

After seeing this post I started to worry a bit since I'm about to do a lot of ACI management with Terraform and there are still a lot of resources missing.

I looked into the code a bit and did some testing and have some moderate news to start with, and that is a workaround. This only works in the layout where you specify the path, class_name and content. If you specify the dn here, w

[2021-02-25 11:31] pcshetty opened #257 "aci_external_network_instance_profile - contract relation refresh issue"
### Terraform Version
Terraform v0.12.28
+ provider.aci v0.5.4

### APIC version and APIC Platform

Application Policy Infrastructure Controller
Version: 4.2(2e)

### Affected Resource(s)
aci_external_network_instance_profile

### Terraform Configuration Files

[code]

### Debug Output
NA

### Panic Output
NA

Ignore other contract relationships that are not managed by the terraform config file.

[2021-02-26 14:50] Thomjohn21 commented on #161
Has this enhancement been added to v0.5.4?

[2021-02-27 02:33] scotttyso opened #259 "aci_leaf_access_port_policy_group & aci_leaf_access_bundle_policy_group fault on netflow relationship"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-27 03:08] scotttyso commented on #259
Also relation_infra_rs_poe_if_pol doesn't seem to accept a empty string whereas relation_infra_rs_span_v_dest_grp and relation_infra_rs_span_v_src_grp do accept empty strings.

[2021-02-27 08:24] vasilyprokopov commented on #231
Leaving the documentation part aside, couldn't reproduce the actual issue.
**ctrl** accepts multiple attributes in my case.

[code]

The above resulted in successful policy creation.

ACI sim 4.2(5k)
Terraform v0.14.6
Provider aci v0.5.4

[2021-02-27 19:23] scotttyso opened #261 "aci_spine_switch_association & aci_leaf_selector missing node blocks"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-27 19:25] scotttyso commented on #261
also on the aci_leaf_profile provide an option not to do leaf_selectors as part of the main policy that spine and leaf policies can be accomplished in the same way.  Today leaf_selector is required under aci_leaf_profile.. It would be better to be consistent with spine and leaf policies.

[2021-02-27 23:29] scotttyso opened #262 "aci_spine_switch_association > relation_infra_rs_spine_acc_node_p_grp"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-28 14:58] scotttyso commented on #231
This works If I pass the code within the resource... It is specifically when passing the attribute as a variable.. I am correcting the post to what I am actually doing.

[2021-02-28 16:12] scotttyso commented on #231
This can be closed... I had some help today that helped me to get it to work... Below is the working configuration.

[code]

[2021-02-28 16:12] scotttyso commented on #231
Closing Issue

[2021-02-28 16:12] #231 closed

[2021-02-28 17:51] scotttyso opened #263 "aci_spine_port_selector seems to be a duplicate of aci_spine_profile and there is no spine port_selector resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-28 21:10] scotttyso opened #264 "Support for VPC Explicit Protection Group / VPC Domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-28 21:13] scotttyso opened #265 "Request support for Breakout Policy Groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-28 21:18] scotttyso opened #266 "Request Leaf/Spine Policy Group Creation Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-02-28 21:21] scotttyso opened #267 "Request STP/BPDU Interface Policy Creation Support"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-03 17:51] anvitha-jain opened #272 "Update the exanple to recent version"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-05 01:08] aj-cruz opened #275 "Is aci_epgs_using_function broken or am I doing it wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-06 23:36] scotttyso opened #278 "New objects - Authentication Realms, Login Domains, and Providers"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-06 23:55] scotttyso opened #279 "aci configuration backup support - scheduled triggers, configuration export, global aes key, remote-host"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-06 23:57] scotttyso opened #280 "Admin > AAA > Security - Global Security Parameters"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-07 00:01] scotttyso opened #281 "Firmware Node Block - Add Nodes to aci_firmware_group"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-08 05:27] AshuSoni-crest commented on #224
Hey Chris, APIC only allows POST requests to be called at `/api/mo/uni.json` while creating a tenant. ACI Terraform provider uses DELETE method when a resource is destroyed. if you are using this path then I would recommend setting "state" value as "deleted", and apply the changes. this way your tenant will be destroyed on APIC.

[code]

This approach is generally not recommended as it simply upda

[2021-03-08 17:26] FrederikSuijs opened #284 "Attach BD to L3out is not idempotent"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-11 08:17] FrederikSuijs commented on #275
I've tried to recreate your issue and played around with it.
It seems you can circumvent this issue by prepending the _gen-default_ in _access_generic_dn_.
[code]
Documentation on how to use this resource could be better for sure; which is true in general for other resources as well.

[2021-03-12 05:57] AshuSoni-crest commented on #281
hey @scotttyso, we already have a resource for your request, but the resource name is different: **aci_node_block_firmware**,
Please refer [aci_node_block_firmware resource docs](https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/node_block_firmware) for more information.
let me know if you have any queries

[2021-03-12 16:00] aj-cruz commented on #275
Thanks for that. There still seems to be something strange going on, though I'm doing it a little different than you:
[code]

Since my tenant plan is now in a completely separate plan from the access policies I'm manually constructing the dn until I get around to creating a data output to pull in the DNs.
With the above I still get:
Error: configured object ((Dn0)) not found Dn0=uni/infra/attentp-

[2021-03-12 16:10] FrederikSuijs commented on #275
I had similar behavior, but can't reproduce it anymore after attaching an EPG to the AAEP once in the GUI. Maybe something in the backend in triggered which creates the *gen-default* object.
Can you try getting that object with Postman?

`
https://{{APIC}}/api/mo/uni/infra/attentp-{{AAEP_name}}/gen-default.json?rsp-subtree=children
`

[2021-03-12 16:15] jody-garellek opened #293 "ctrl repeatedly set as "unspecified" within aci_subnet resource"
### Terraform Version

+ provider registry.terraform.io/hashicorp/vault v2.18.0
+ provider registry.terraform.io/terraform-providers/aci v0.5.4

### APIC version and APIC Platform

* V 4.2.0 (4i) on-prem

### Affected Resource(s)

* aci_subneg

### Terraform Configuration Files

resource "aci_subnet" "systems" {
  parent_dn = aci_bridge_domain.systems.id
  description      = "systems subnet create

[2021-03-12 16:59] aj-cruz commented on #275
I think you're right. In postman that returns 0 items until I attach an EPG to the AAEP in the GUI, then postman returns the item.

I think maybe the resource needs to create the object with:
`/api/node/mo/uni/infra/attentp-{AAEP_NAME}/gen-default.json`
using a child attribute to populate the EPG

instead of:
`api/node/mo/uni/infra/attentp-{AAEP_NAME}/gen-default/rsfuncToEpg-[{EPG_TDN}].json`

but

[2021-03-12 17:14] scotttyso commented on #281
Okay... I am sorry for missing this.  I have tried to go through the list multiple times before I submit a request..  I simply missed this... thanks for the update.

[2021-03-12 19:36] FrederikSuijs opened #294 "aci_vmm_domain: unknown attribute 'descr' in element 'vmmDomP'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-15 00:41] camrossi commented on #204
I think I am also facing the same issue:

**If I create the resource with JSON:**
[code]
**If I create the resource with the content option:**
[code]

However for me it fails with a different message:
[code]

[2021-03-15 07:53] FrederikSuijs commented on #204
Using the _content_ option, in general, I have been able to use the aci_rest resource to create most resources currently missing.
It is usually a bit more work; since I found out posting huge blobs of content using the _payload_ method, with dependant children etc, usually goes against state per object approach.
So my basic workflow is create a aci_rest resource 1:1 mapped to an object in the ACI

[2021-03-15 08:04] camrossi commented on #204
Thanks @FrederikSuijs!
With the "content" method indeed all work but I am lazy and I also think the "payload" way should be supported as well.

[2021-03-16 11:19] AshuSoni-crest commented on #275
@aj-cruz I tried to recreate this issue, but could not get any errors and all the resources are created successfully. I think you are skipping one resource in between named as `aci_access_generic` by which you do not need to explicitly add `gen-default` and I guess after this resource, you do not need to explicitly attach EPG to AAEP from GUI.

I am attaching my terraform configuration for your re

[2021-03-17 20:12] aj-cruz commented on #275
Ooooooooh I thought that access_generic_dn was the dn for the AAEP, I didn't even notice the aci_access_generic resource.
Thanks.

[2021-03-17 20:12] #275 closed

[2021-03-20 22:57] scotttyso opened #311 "Best Practice Wizard and Fabric Best Practices"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-24 16:22] ThJVerne opened #316 "data/vlan_pool - Miss on the documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-03-26 07:58] FrederikSuijs commented on #311
Hi @scotttyso, looks like you are trying to do the same thing as me.
There might be overlap with:
#187 #188 #189 #190 #191 #192 #193 #194

[2021-03-26 19:15] anvitha-jain commented on #294
This issue was due to a discrepancy in the [vmmDomP] class, which has been resolved in the PR associated with issue #175.  The solution will be updated with the next release.

[2021-03-30 14:45] scotttyso opened #322 "aci_attachable_access_entity_profile - missing Ability to turn on/off Infrastructure VLAN"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-03 23:44] aj-cruz commented on #284
I was just about to open an issue for the same.
I noticed L3out resources have relation_l3ext_rs_out_to_bd_public_subnet_holder
For the fun of it I added all my BDs to that argument and the problem went away.
However, that's not practical as it would require you to first create the relation in the BDs, apply, then create the relation on the L3outs.

[2021-04-07 22:45] camrossi opened #329 "aci_l3_outside: enforce_rtctrl should accept a list of strings"
The enforce_rtctrl parameter currently is a string.
However ACI accepts only these two options:

- "export"
- "export, import"

Currently there is no way to set ["export", "import"] as it would require the enforce_rtctrl to accept a list of string.
We should add support for this.

[2021-04-09 02:49] gnuowned opened #332 "A way to associate DB to a vrf and a EPG to a BD"
I can't find a way to associate a BD to a VRF I just can't find it in the doc.

It should be a way to do that something like this:
[code]
In the same way, there is no way to associate a application epg to a bd.  Should be a way to do this, something like this:

[code]

[2021-04-09 07:27] FrederikSuijs commented on #332
You have to look for **relation_fv_rs_bd**, see snippet below.

[code]

I have to agree with you, a lot of the code/examples are not that intuitive/user friendly. This is a perfect example of that. I hope the BU realizes that and tries to streamline this a bit more.

[2021-04-09 11:04] AshuSoni-crest commented on #243
This issue is resolved and merged under the master branch. You all will get the resolution in the new release of this provider. Let me know if you have any other queries.

[2021-04-09 13:53] gnuowned commented on #332
wow,

 Indeed is not intuitive. Thanks for your answer.

Regards!

[2021-04-15 07:13] FrederikSuijs commented on #322
With regards to attaching an aaep to epg, I've seen multiple issues around that; #275 and #67
Basically the resources are already there, but lacking proper documentation imo.

Here is a configuration example snippet ( I've left out some irrelevant config such as domains/BD/AP...) :

[code]

For enabling/disabling the infra vlan, you get a thumbs up :)

[2021-04-15 07:19] FrederikSuijs commented on #284
After watching the excellent video series https://youtube.com/playlist?list=PL410_DNznOoTQuyXCqK7w_9fvkdc6xmN8 by @vasilyprokopov , there is a workaround to supress this.
The trick is to use the terraform **lifecycle** and **ignore_changes** meta-arguments.

[code]

[2021-04-15 16:01] scotttyso commented on #322
Perfect.  I either missed this or didn't understand what it was for.  Thanks.

[2021-04-16 19:16] #209 closed

[2021-04-21 06:54] PhilipWhiteside commented on #102
Thank you for the work so far.

It's not possible to map the user or tenant into the domain. There is no `aaaUserDomain` argument on user or tenant resource.

[2021-04-21 07:00] PhilipWhiteside opened #340 "Map aaaDomain to user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-23 11:17] rowco opened #342 "Terraform performance when using large numbers of resources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-24 00:31] #186 closed

[2021-04-24 11:15] vaneuk opened #343 "unknown attribute 'descr' in element 'fabricExplicitGEp'"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-24 16:59] scotttyso opened #344 "aci_node_mgmt_epg missing attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-24 17:05] scotttyso commented on #344
I would just also add that:

  exception_tag  = "example"
  flood_on_encap = "disabled"
  match_t = "All"
  pref_gr_memb = "exclude"

The above attributes are not exposed in the UI so it probably isn't good to expose in the provider as well as I assume these are meant to always be the default values and shouldn't be modified.  But maybe others could comment.

And I thought at this time it isn't su

[2021-04-24 23:32] scotttyso opened #345 "aci_l3out_path_attachment and aci_l3out_path_attachment_secondary_ip missing support for VPC"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-25 01:05] scotttyso commented on #345
I am not sure if it is better to add a new resource of type l3extMember

[2021-04-25 17:25] scotttyso opened #346 "aci_leaf_breakout_port_group missing description field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-25 17:25] scotttyso commented on #346
On this same note the problem exists with the CDP resource as well.

[2021-04-25 18:09] scotttyso opened #347 "aci_trigger_scheduler missing description field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-25 18:20] scotttyso opened #348 "Add New Resource Recurring Window to support triggered scheduler"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-25 18:26] scotttyso opened #349 "aci_configuration_export_policy and aci_configuration_import_policy missing description field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-28 00:20] scotttyso opened #351 "aci_bgp_peer_connectivity_profile only supports Loopback Attachment"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-28 14:34] rowco commented on #342
Quick update. Looking at other performance related issues raised with terraform
 (https://github.com/hashicorp/terraform/issues/26355), there seems to be a real hit when you link one for_each loop to another. I modified the above code to remove the link from the bds list to the epgs list, and got a huge speed increase.

[2021-04-28 18:38] maty0609 opened #352 "aci_leaf_access_bundle_policy_group and override policy groups"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-29 03:35] aj-cruz opened #353 "Cannot add multiple Interface Profiles to Leaf Profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-04-30 13:41] scotttyso opened #357 "aci_spanning_tree_interface_policy missing description field"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-02 02:41] scotttyso opened #358 "aci_ospf_interface_policy Set of String on Ctrl is Rejected"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-02 02:53] scotttyso opened #359 "aci_l3out_path_attachment rejects custom MTU Values"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-02 18:37] scotttyso commented on #358
Here is an Example from the APIC showing it accepts multiple value's

[code]

[2021-05-05 11:06] AshuSoni-crest commented on #349
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:07] AshuSoni-crest commented on #347
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:07] AshuSoni-crest commented on #346
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:08] AshuSoni-crest commented on #345
We have resolved this issue by adding a new resource "aci_l3out_vpc_member". You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:09] AshuSoni-crest commented on #343
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:12] AshuSoni-crest commented on #265
We have resolved this issue by adding a new resource "aci_leaf_breakout_port_group", You will receive the updates in the next release of terraform-provider-aci.

[2021-05-05 11:13] AshuSoni-crest commented on #177
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci. Let me know if you have any other queries.

[2021-05-05 11:15] AshuSoni-crest commented on #176
We have resolved this issue by adding few new resources, You will receive the updates in the next release of terraform-provider-aci. Let me know if you have any other queries.

[2021-05-05 11:17] AshuSoni-crest commented on #161
We have resolved this issue by adding a new resource "aci_l2_outside", You will receive the updates in the next release of terraform-provider-aci. Let me know if you have any other queries.

[2021-05-05 11:18] AshuSoni-crest commented on #156
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci. Let me know if you have any other queries.

[2021-05-05 11:18] AshuSoni-crest commented on #155
We have resolved this issue, You will receive the updates in the next release of terraform-provider-aci. Let me know if you have any other queries.

[2021-05-05 13:55] scotttyso commented on #349
thanks

[2021-05-05 13:56] scotttyso commented on #347
thanks

[2021-05-05 13:57] scotttyso commented on #346
thanks

[2021-05-05 13:58] scotttyso commented on #265
thanks

[2021-05-06 10:45] scotttyso opened #369 "aci_bgp_peer_connectivity_profile is setting local_asn to 0 causing BGP to not come up"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 15:31] scotttyso opened #370 "aci_spine_switch_association not saving the relation_infra_rs_spine_acc_node_p_grp attribute"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-06 16:36] scotttyso opened #371 "Missing Ability to turn on BGP on the L3Out"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-10 09:10] #342 closed

[2021-05-10 20:52] #204 closed

[2021-05-11 09:38] lhercot commented on #371
Can you check aci_l3out_bgp_external_policy ?
This was added as part of the new v0.6.0

[2021-05-11 13:37] #371 closed

[2021-05-11 17:46] lhercot commented on #294
Fixed in release v0.6.0. Can you check if the fix works for you?

[2021-05-11 17:47] lhercot commented on #175
Fixed in release v0.6.0.

[2021-05-11 17:47] #175 closed

[2021-05-12 11:30] CaptainMuh commented on #155
Has this been included in v0.6? I am having difficulty setting the DHCP server IP.
I can set the tDn for the DHCP Policy EPG with the "relation_dhcp_rs_prov" argument in the "aci_dhcp_relay_policy" resource, but there doesn't seem to be an argument for setting the server IP.

[2021-05-12 18:10] lhercot opened #384 "Add resource and data source to assign roles and permissions to a user"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-18 17:48] anvitha-jain opened #397 "Creation of VRF Documentation"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-19 01:41] #358 closed

[2021-05-19 01:43] #329 closed

[2021-05-19 02:41] #294 closed

[2021-05-19 02:48] lhercot commented on #176
Fixed in v0.6.0. Closing.

[2021-05-19 02:48] #176 closed

[2021-05-19 02:57] lhercot commented on #202
This is the normal behavior. As a generic guideline, we do not define any default values for fields in the provider or the SDK. If you want to reset any field to its default value, you have to modify it yourself. This is to avoid re-writing fields that the provider might not be managing yet.

[2021-05-20 21:13] #357 closed

[2021-05-22 00:19] #316 closed

[2021-05-24 00:49] camrossi opened #412 "aci_bgp_peer_connectivity_profile: local_asn should support to be empty"
A BGP Peer can be configure with an empty  local_asn.
Currently the aci_bgp_peer_connectivity_profile sets it to "0" if the local_asn is not specified or if is set to "".

This is an invalid config. We need to support empty or 1 to 4294967295

Also deleting the bgpLocalAsnP object after as a workaround
[code]
result in the aci_bgp_peer_connectivity_profile to crash with ``` Error: Error retriving

[2021-05-24 01:24] camrossi opened #413 "Floating SVI: l3extRsDynPathAtt support"
This class is required to add to a floating SVI a node and its floating IP

For now this is a workaround

[code]

[2021-05-24 01:25] camrossi opened #414 "Floating SVI: Support l3extIp"
This class adds to a floating SVI an secondary IP.
For now this is a workaround.
[code]

[2021-05-24 02:26] camrossi opened #415 "aci_l3out_bgp_protocol_profile: relation_bgp_rs_bgp_node_ctx_pol not working"
The mapping to the timers is not happening:

If I run this code:
[code]

The timer policy is created but is then not mapped to the aci_l3out_bgp_protocol_profile.
I get this error in terraform:

[code]

If I now run again a terrafrom plan tf knows the policy is not applied:
[code]

[2021-05-24 02:40] camrossi opened #416 "aci_l3out_bgp_protocol_profile: Support for bgpRsBestPathCtrlPol"
We should add the support for the `bgpRsBestPathCtrlPol` policy like we do for the timers.

[2021-05-24 03:19] camrossi opened #417 "BGP: Match Rules support for import/export route control"
We need to be able to create Match Rules (`rtctrlSubjP`) and add prefix matches to them (`rtctrlMatchRtDest`) and map them to a import or export policy (`aci_bgp_route_control_profile`)

Example aci_rest code:

[code]

Then once the above 2 ore more objects are created we need to add a `rtctrlCtxP` in the `aci_bgp_route_control_profile` and map the `rtctrlRsCtxPToSubjP` to the `rtctrlCtxP`

For ex

[2021-05-24 18:31] scotttyso commented on #412
This is a duplicate of issue #369.  It is already in triage.

[2021-05-24 18:39] scotttyso commented on #311
Thanks @FrederikSuijs .  Probably something very similar for sure.  Still have a lot of aci_rest resources that I am trying to narrow down and eliminate.

[2021-05-24 23:29] scotttyso opened #420 "aci_l3out_path_attachment_secondary_ip doesn't support VPC aci_l3out_vpc_member"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-25 04:14] shrsr opened #422 "Idempotency fails when control(ctrl) is set to 'unspecified'."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-26 02:35] scotttyso opened #426 "The provider ciscodevnet/aci does not support resource type "aci_spanning_tree_interface_policy""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-05-26 15:49] AshuSoni-crest commented on #353
Hey @aj-cruz , Issue seems to be occurring due to overlapping node ids of node block, if the node ids are overlapping, the relation creation exits with error, and shows you the changes in the next plan. let me know if you have any queries.

[2021-05-26 16:06] #349 closed

[2021-05-26 16:19] #347 closed

[2021-05-26 16:31] #346 closed

[2021-05-26 16:31] #345 closed

[2021-05-26 16:32] #343 closed

[2021-05-26 16:41] #224 closed

[2021-05-26 16:42] #243 closed

[2021-05-26 16:42] #265 closed

[2021-05-26 16:42] #281 closed

[2021-05-26 16:43] #177 closed

[2021-05-26 16:43] #161 closed

[2021-05-26 16:44] #156 closed

[2021-05-26 17:15] #293 closed

[2021-05-26 17:15] #422 closed

[2021-05-26 17:42] #426 closed

[2021-05-26 17:54] #359 closed

[2021-05-26 17:54] #370 closed

[2021-05-26 18:59] lhercot commented on #370
We have resolved this issue, the fix is available in v0.7.0.

[2021-05-26 18:59] lhercot commented on #359
We have resolved this issue, the fix is available in v0.7.0.

[2021-05-26 18:59] lhercot commented on #426
We have resolved this issue, the fix is available in v0.7.0.

[2021-05-26 18:59] lhercot commented on #422
We have resolved this issue, the fix is available in v0.7.0.

[2021-05-26 19:00] lhercot commented on #293
We have resolved this issue, the fix is available in v0.7.0.

[2021-05-29 17:36] scotttyso opened #444 "aci_spanning_tree_interface_policy doesn't apply control attributes"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-01 15:44] wietersr opened #453 "Add Description Attribute to resource aci_range"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-02 19:46] jeremypng opened #456 "change to aci_logical_interface_profile breaks existing code/state, makes transition to 0.7.0 difficult"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-04 16:33] asharma1304 opened #468 "Error: .enforce_rtctrl: missing expected ["
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-04 17:59] lhercot commented on #456
This is related to the change we made on aci_l3_outside. When you do a plan or apply. The first thing that TF will do is refresh everything which will include the aci_l3_outside.

Did you try directly removing the aci_l3_outside item with "terraform state rm 'aci_l3_outside.l3out'" ? You will then have to import it or re-apply.
Other people also added the [] to the aci_l3_outside 'enforce_rtctrl'

[2021-06-04 18:04] lhercot commented on #468
This is related to the breaking change we made on aci_l3_outside. (Documented in the changelog here: https://github.com/CiscoDevNet/terraform-provider-aci/blob/master/CHANGELOG.md)
When you do a plan or apply. The first thing that TF will do is refresh everything which will include the aci_l3_outside.

Did you try directly removing the aci_l3_outside item with "terraform state rm 'aci_l3_outside.S

[2021-06-04 18:18] asharma1304 commented on #468
I somehow missed this in the changelog. I did do a terraform state rm on two other errors I was getting (related to spanning tree interface policy) as it was more obvious from the error message that it was a 'state' issue.

However, I was able to workaround this by commenting out the module that was reading in the pre-existing l3out (and the reference to it). Terraform plan executed successfully a

[2021-06-04 18:54] jeremypng commented on #456
I did remove it and re-import it. I think I ended up hitting two issues. One was the enforce_rtrctrl: issue you mentioned. The other was the removal of the relation_l3ext_rs_path_l3_out_att attribute.

My problem is resolved, I just thought some added information in the release notes might help others when they upgrade.

[2021-06-15 13:16] qzx commented on #420
@scotttyso this might just be a documentation issue, (maybe a bit of a naming issue on the parameter in the resource), but this works perfectly fine:

`resource "aci_l3out_path_attachment" "fw_vpc" {
  logical_interface_profile_dn = data.aci_logical_interface_profile.this.id
  target_dn                    = "topology/pod-2/protpaths-203-204/pathep-[FIREWALL-VPC]"
  if_inst_t                    = "

[2021-06-15 14:43] ThJVerne opened #501 "NEW Ressources SNMP Context - aci_snmpctx & aci_snmpctx_Community"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-15 21:15] #184 closed

[2021-06-15 21:16] #369 closed

[2021-06-15 21:16] #412 closed

[2021-06-15 21:19] #415 closed

[2021-06-15 21:20] #344 closed

[2021-06-15 23:07] lhercot commented on #155
Yes it is in v0.6 I will be closing this. Please re-open an issue if you still have problems with this ask.

[2021-06-15 23:07] #155 closed

[2021-06-16 14:43] darrenparkinson opened #504 "Unable to set server IP for DHCP Policy EPG"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-17 06:43] AshuSoni-crest commented on #353
We do not get any comments on this issue, so we are closing it. The user can reopen it if the issue persists.

[2021-06-17 06:43] #353 closed

[2021-06-17 16:49] #272 closed

[2021-06-20 23:34] davemcdonnell opened #513 "Add support for EPG filtering in aci_client_end_point"
on data.tf line 14, in data "aci_client_end_point" "check":
  14:   application_epg_dn  = "${aci_application_epg.epg.id}"

An argument named "application_epg_dn" is not expected here.

### Terraform Version

Terraform v1.0.0
on darwin_amd64
+ provider registry.terraform.io/ciscodevnet/aci v0.7.0
+ provider registry.terraform.io/hashicorp/azurerm v2.64.0

### APIC version and APIC Platform
on-prem

[2021-06-25 15:51] anvitha-jain opened #524 "Test cases"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-25 16:07] anvitha-jain opened #525 "Remove verification if dn exists in relationship section."
Example:
Currently all relationships like relation_fv_rs_fc_path_att      = ["testnodeatt"]  a check is performed to check if the DN exists.

This creates an ordering requirement that is not needed in ACI API as the eventual consistency will take care of it.

[2021-06-25 16:16] anvitha-jain opened #526 "Check Application EPG for incomplete relationship"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-25 16:26] anvitha-jain opened #527 "Change log statements in service_manager.go"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-25 17:27] lhercot commented on #162
@jhtut , as @scotttyso example shows the filter section in the aci_contract is incomplete and does not associated the contract with the filter through a subject.

We have made the decision to start deprecating the filter section under aci_contract and will be removing it from the documentation in the next release. We are also updating the example to show how to do a complete contract without it.

[2021-06-26 06:16] #178 closed

[2021-06-26 06:16] #162 closed

[2021-06-26 06:16] #332 closed

[2021-06-26 06:26] #504 closed

[2021-06-26 06:28] lhercot commented on #513
PR #522 is fixing documentation but we should still consider the new use case.

[2021-06-26 09:11] lhercot commented on #468
Will be closing this as you mentioned it is resolved.

[2021-06-26 09:11] #468 closed

[2021-06-26 09:11] lhercot commented on #456
Closing as issue is resolved.

[2021-06-26 09:11] #456 closed

[2021-06-26 09:13] lhercot commented on #444
Could you retry with latest 0.7.1 version and let me know if this is still an issue?

[2021-06-27 00:52] FaizanRazaBT opened #529 "aci_leaf_access_bundle_policy_group Example non functional"
https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/leaf_access_bundle_policy_group

resource "aci_leaf_access_bundle_policy_grou**p "** "example" {
  name        = "example"
  annotation  = "example"
  lag_t       = "example"
  name_alias  = "example"
}

Copied and pasted the example and space between the two bold characters caused

Error: Invalid resource type name

Fix

[2021-06-28 11:26] thomasnoppe opened #531 "Being able to specify fvEpReachability on an aci_subnet resource"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-06-29 20:00] #397 closed

[2021-06-30 21:57] wietersr commented on #453
description attribute (while NOT documented) is a usable attribute. Perhaps update the docs...

[2021-06-30 23:07] lhercot commented on #453
Reopening to trac as a documentation fix.

[2021-07-01 11:41] kristofff1204 opened #537 "Add EPG attribute name into the export list of aci_application_EPG"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-01 14:59] ThJVerne opened #538 "aci_vrf argument - relation_fv_rs_ctx_to_bgp_ctx_af_pol unsupported argument"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-09 15:05] sylr opened #541 "Fix the documentation formating"
### Description

The documentation needs some love. Terraform code examples need to formatted as terraform fmt would render them.

[2021-07-10 02:19] thjonson opened #543 "Enhanced LAG Policy for aci_epg_to_domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-13 12:20] qfaure opened #544 "resource aci_contract_filter and aci_application_epg not saving some default value"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-13 12:46] DimmySa commented on #544
👍

[2021-07-14 09:13] pcshetty commented on #257
Hi, This issue got any relation to this note on the readme files as this is a contract relation? i  see same issue with TF 1.0.1 and ACI provider 0.7.1.

-----https://github.com/CiscoDevNet/terraform-provider-aci/blob/master/README.md

NOTE: Currently only resource properties supports the reflecting manual changes made in CISCO ACI. Manual changes to relationship is not taken care by the provider.

[2021-07-16 16:51] marinalf opened #545 "Add resource "aci_cloud_azure_provider" for Azure Subscription"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-16 17:00] marinalf opened #546 "Add VNet Peering option for Cloud Context Profile resource"
* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do not help prioritize th

[2021-07-19 06:24] AshuSoni-crest commented on #527
hey @anvitha-jain, What should be there in those logs?

[2021-07-20 02:00] anvitha-jain commented on #527
In the code all the log statements are under a single condition and they print the same message, instead they should be printing relavant messages for each check.

[2021-07-27 09:52] pcshetty commented on #257
Hi,

Any feedback/clarification on this issue?

Regards,

Prathap

[2021-07-27 17:25] #453 closed

[2021-07-27 17:25] #529 closed

[2021-07-28 01:28] shrsr commented on #538
@ThJVerne
**relation_fv_rs_ctx_to_bgp_ctx_af_pol** is a block and it doesn't need _**=**_ and **square brackets**. Argument definitions must also be separated by newlines, not commas.

Can you please try applying the following configuration-

[code]

[2021-07-30 12:25] robvand opened #553 "Add support for CustomEpgName when associating EPG to VMM Domain"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-30 12:41] robvand opened #554 "Add support for EPG/BD subnets under VRF for route leaking"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-07-30 21:31] lhercot commented on #444
Checked with @scotttyso via PM and issue is resolved in v0.7.1

[2021-07-30 21:31] #444 closed

[2021-08-03 08:34] kozhabergenova opened #555 "aci_epg_to_static_path resource bug"
### Terraform Version
terraform -v
Terraform v1.0.0
on darwin_amd64
+ provider registry.terraform.io/ciscodevnet/aci v0.7.0

### APIC Version
Application Policy Infrastructure Controller
Version: 4.2(4i)

### Affected Resource(s)
resource "aci_epg_to_static_path"
resource "aci_application_epg"

### Terraform Configuration Files
terraform {
  required_providers {
    aci = {
      source = "CiscoDe

[2021-08-04 09:35] pcshetty commented on #257
Thanks. As per the note, this issue applies to APP EPGs as well. Any plan to fix these issues other resource relationships in other modules?

----https://github.com/CiscoDevNet/terraform-provider-aci/blob/master/README.md

NOTE: Currently only resource properties supports the reflecting manual changes made in CISCO ACI. Manual changes to relationship is not taken care by the provider.

[2021-08-05 11:26] pcshetty opened #556 "aci_application_epg - Contract relation refresh issue for both prov and cons when changes made outside of Terraform."
Terraform Version
Terraform v0.15.5

provider[registry.terraform.io/ciscodevnet/aci] 0.7.1
APIC version and APIC Platform
Application Policy Infrastructure Controller
Version: 4.2(2e)

Affected Resource(s)
aci_application_epg

Terraform Configuration Files

 resource "aci_application_epg" "barapplication_epg" {
    application_profile_dn  = "uni/tn-TERRAFORM_TEST/ap-APP_CF_XXX_01_TEST"
    name

[2021-08-05 13:17] pcshetty opened #557 "aci_contract_subject - filter relation refresh issue when changes made outside of Terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-06 16:05] vaneuk commented on #555
Hi,
Following line
[code]

Should be changed to
[code]

[2021-08-06 21:14] #544 closed

[2021-08-23 15:08] qfaure opened #566 "When you create an EPG from a terraform module, it want to re-create EPG randomly while it already exist."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-08-24 13:55] #538 closed

[2021-08-25 08:44] pcshetty commented on #556
Hi

Any plan to look into these issues ( 257, 556 and 557.) Also is there any workaround for these issues?

Thank you
Prathap

[2021-08-31 22:25] wietersr commented on #294
I'm getting same Error now "unknown attribute 'descr' in element 'vmmCtrlrP" using >=0.7.0 provider

[2021-08-31 22:34] wietersr opened #571 "ACI_VMM_Controller: "unknown attribute 'descr' in element 'vmmCtrlrP""
This seems to be same issue previously found in vmm:Domp
I'm using provider version 0.7.1

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add rel

[2021-09-07 08:26] pcshetty commented on #556
Hi,

Please let us know if any update on this or any dev code we can use to do some testing etc.

Regards,
Prathap

[2021-09-07 22:15] wietersr opened #576 "aci_bridge_domain attribute: ep_move_detect_mode accepts "garp" only"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-09 11:07] edsmith123 opened #579 "VPC Domain resource"
GUI: Fabric -> Policies -> Switch -> VPC Domain (right click) -> Create VPC Domain Policy

I can't find a resource to set up the VPC Domain so have used aci_rest...

resource "aci_rest" "vpc_domains" {
  for_each = { for inst in local.aci_vpc_domains : inst.vpc_dom_name => inst }
  path  = "/api/node/mo/uni/fabric/vpcInst-${each.value.vpc_dom_name}.json"
  class_name = "vpcInstPol"
  content = {

[2021-09-09 13:10] #579 closed

[2021-09-10 14:58] lennartjung opened #581 "adding multiple domains with aci_epg_to_domain not possible"
Hi,

I am trying to add multiple domains to an EPG using the resource "aci_epg_to_domain", however this does not seem to be possible using e.g. a set [] - apologies, if I am mistaken.

The ACI policy model states clearly EGP:DOMAIN as 1:N (https://www.cisco.com/c/en/us/td/docs/switches/datacenter/aci/apic/sw/policy-model-guide/b-Cisco-ACI-Policy-Model-Guide.html#id_107454)

however the documentati

[2021-09-10 19:04] nipil commented on #543
I highly hope there will be progress on this enhancement

I tried using the "lag_policy_name" of "aci_epg_to_domain" but it does not seem to do the trick.

Just for information, we just started working on using terraform to setup our ACI workflow. We are using enhanced lag policy on all our ESXi. And so far, i have been setting it up manually in APIC, or using raw XML snippets. It works but it's a

[2021-09-14 13:47] qfaure commented on #566
Hi @lhercot  do you have some update on this issue please?

[2021-09-15 00:43] Bullenj01 opened #586 "nae integration with terraform"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-15 04:30] lhercot commented on #581
You need to define one resource of time epg_to_domain per domain you want to associate to an EPG.
If you want to pass a list of domains for a specific EPG, you should create a Terraform module that takes the list and output domains.

This would be very similar to this modules: https://github.com/CiscoDevNet/terraform-mso-modules/tree/main/mso_schema_site_anp_epg_static_ports

Let us know if that s

[2021-09-15 04:34] lhercot opened #587 "Create sections in documentation to group resources and data sources together."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-15 04:54] lhercot opened #588 "Add missing L4-L7 resources and data sources"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-16 15:38] shrsr commented on #555
@kozhabergenova
I second @vaneuk's comment. Please change the tdn in "aci_epg_to_static_path" from ` "topology/pod-1/protpaths-101-102/pathep-${each.key}"` to ` "topology/pod-1/protpaths-101-102/pathep-[${each.key}]"`
[code]

[2021-09-17 01:36] mihiguch opened #592 "ESG related issues"
https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/end_point_security_group
1: Left pane says “aci_end_point_security_group” but the right pane says “aci_endpoint_security_group”. I think the left one should be corrected. Same for aci_endpoint_security_group_selector.

2: VRF is mandatory configuration for ESG (it’s like bd configuration for EPG) but it’s optional in the

[2021-09-17 01:42] mihiguch opened #593 "L4-L7 related issues"
1: https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/function_node
“managed” default value should be “no” as managed mode is EoL in 5.2.

2: https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/connection
argument reference says “conn_dir” can be either “consumer” or “provider”, but the example above uses “unknown”.

3: https://registry.terrafor

[2021-09-17 20:14] shrsr opened #595 "ESG naming issue"
https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/end_point_security_group
Left pane says “aci_end_point_security_group” but the right pane says “aci_endpoint_security_group”. I think the left one should be corrected. Same for aci_endpoint_security_group_selector.

- @mihiguch

[2021-09-17 20:16] shrsr opened #596 "ESG vrf should be mandatory"
VRF is mandatory configuration for ESG (it’s like bd configuration for EPG) but it’s optional in the argument reference. VRF relationship configuration should be mandatory.
And also, it should be listed just after “name” instead of in the bottom of the configuration. (at first, I didn’t recognize that VRF relationship configuration exists in the example)

- @mihiguch

[2021-09-17 20:21] shrsr opened #597 "Few options unnecessary in ESG resource"
At ESG, we don’t have couple of options that exist on EPG, but these are listed in argument reference. I think these should be removed from code and doc as it’s not applicable to ESG in general.
resource "aci_endpoint_security_group" "example" {
application_profile_dn = aci_application_profile.example.id
name = "example"
annotation = "orchestrator:terraform"
flood_on_encap = "disabled" <<< ESG doe

[2021-09-17 20:22] shrsr opened #598 "Support for Tag and EPG selectors"
It seems we currently support IP selector only.
https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/end_point_security_group_selector
APIC currently support EPG selector and Tag selector. It would be nice to support Tag and EPG selectors.

-@mihiguch

[2021-09-17 20:24] shrsr opened #599 "ESG name mandatory?"
Regarding data-source end_point_security_group_selector, the doc doesn’t mention “name”, but it complains “name” is mandatory when I issues “terraform apply”. Is “name” mandatory? Then, can you update the doc? https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/data-sources/end_point_security_group_selector

MIHIGUCH-M-826T:Create_tenant mihiguch$ terraform apply
╷
│ Error: Missing

[2021-09-21 17:35] lhercot opened #606 "Missing relationship bgpRsPeerToProfile in aci_bgp_peer_connectivity_profile and property adminSt"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-22 02:04] lhercot opened #607 "Add aci_bgp_route_control_scope resource and datasource for rtctrlScope and rtctrlRsScopeToAttrP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-22 02:09] lhercot opened #608 "Create aci_interface_blacklist resource and datasource for fabricRsOosPath"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-23 04:54] lhercot commented on #557
This is the expected behavior.
If you modify a relationship that is explicitly listed as part of a resources in the UI, Terraform will make the change necessary to fix it back to your intent declared in the plan.

We could go around this limitation by introducing a dedicated resources like aci_contract_subject_to_filter so you will not explicitly declare all relationships in aci_contract_subject.

[2021-09-23 04:57] lhercot commented on #556
This is the expected behavior.
If you modify a relationship that is explicitly listed as part of a resources in the UI, Terraform will make the change necessary to fix it back to your intent declared in the plan.

You should be able to get around this issue by using the aci_epg_to_contract resources in place of using the relation_fv_rs_cons and relation_fv_rs_prov lists.

Let me know if that resol

[2021-09-24 17:06] lhercot commented on #555
Closing as we provided an answer and no response for a week. Feel free to re-open an issue if needed.

[2021-09-24 17:06] #555 closed

[2021-09-24 17:15] lhercot commented on #581
Closing as we did not hear back and provided a solution. Feel free to reopen an issue if needed.

[2021-09-24 17:15] #581 closed

[2021-09-25 17:08] amccaskill opened #616 "Cisco ACI error with plugin"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add releva
[terraform ACI configuration.docx](https://github.com/CiscoDevNet/terraform-provider-ac

[2021-09-26 15:54] adealdag opened #617 "Failed to push change in BGP peer as number"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-27 12:38] vanniew opened #621 "aci_vmm_domain - syntax in documentation is wrong"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-27 20:30] anvitha-jain commented on #621
@vanniew,

The dn map for provider_profile_dn is updated in the PR #625 and will also be updated in the registry with the release of next version.
| Vendor              | provider_profile_dn         |
| -----------        | -----------                       |
| Microsoft          |  uni/vmmp-Microsoft       |
| CloudFoundry  | uni/vmmp-CloudFoundry |
| OpenShift         | uni/vmmp-OpenShift

[2021-09-27 20:59] jamesbtate opened #626 "Missing resources to "apply" service graph template e.g. `vnsLDevVip`"
I'm trying to do a complete build-out of a L4-L7 service-graph template in L3/GoTo mode using an unmanaged device. It seems some required resources are not present in the provider.

### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintaine

[2021-09-27 21:09] lhercot commented on #626
Duplicate #588

[2021-09-27 21:12] lhercot commented on #626
Closing as this is a duplicate of #588

Always feel free to open new issues but please check if another issue is not yet open for the same issue. You can use the search bar on the top with the "In this repository" filter to see if there is any other issues referencing the same class.

[2021-09-27 21:12] #626 closed

[2021-09-28 01:54] aj-cruz opened #627 "Idempotency problem with relation_fv_rs_prov in aci_application_epg"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-09-28 11:04] vanniew commented on #621
Thanks for updating.

[2021-09-28 17:19] #621 closed

[2021-09-28 23:26] #617 closed

[2021-09-30 09:30] jblackman opened #652 "Implement read in the aci_rest resource type"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-05 08:09] pcshetty commented on #556
thanks for the update.
We are not sure about the comment as the main issue is partial/not so clear diff between what is in the Terraform(TF) config file and the device when the TF plan says there are config changes outside of Terraform.
We expect if there are four contracts under an EPG in TF config but EPG on a device has five, then Terraform is not showing the contract that is not part of the TF

[2021-10-05 08:16] pcshetty commented on #556
also, the strange thing I noticed is sometimes it won't report that there are changes outside of Terraform, it is intermittently reporting this diff between contract relations in TF config and EPG on the device.

[2021-10-07 15:09] alexshallcross opened #671 "aci_filter_entry - Missing valid values for attribute 'prot'"
Currently the only allowed values are "unspecified", "icmp", "igmp", "tcp", "egp", "igp", "udp", "icmpv6", "eigrp", "ospfigp", "pim" and "l2tp"

However on the APIC the numerical values 0-255 are accepted to allow for the full selection of IP protocols.

[2021-10-10 20:00] marinalf opened #676 "Add resource "aci_cloud_gcp_provider" for Google Project"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-10 21:07] marinalf opened #677 "Add an option for "subnet group" for aci_cloud_subnet to support GCP"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request

### Description

Need an option to associate subnets to specific subnet group label.

### Terraform Version

+ Terraform v0.14.5
+ provider registry.terra

[2021-10-10 21:13] marinalf opened #678 "Add an option for gcp as cloud vendor under aci_cloud_context_profile."
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request

### Description

Need gcp as an option for cloud vendor under aci_cloud_context_profile.

### Terraform Version

+ Terraform v1.0.11 and later
+ provider

[2021-10-11 08:10] pcshetty commented on #556
Hi,

Here are some of the screenshots from the Terraform apply.  Basically on the device, I have two provider contracts configured for EPG_Terraform_Deploy_Test_02  but in the terraform config, I only got one uni/tn-TN_SOU_PROD_CF/brc-TEST_CONT_CONS.

Every time I run apply, I get bellow message and Terraform does not delete the 2nd provider contract to get the device as per the declared state for

[2021-10-11 16:53] pcshetty commented on #556
FYI - related to the same issues updated in-place also does not report the changes to the relationships, ie. below diff is not correct it says it deleting  4 contracts but I am only deleting the one contract relationship in the config file.
I want to delete cont relationships but i get below plan output --
- "uni/tn-TN_XXX_PROD_CF/brc-CON_XXX_SB"

Plan output --

aci_application_epg.EPG_CF_MICROSE

[2021-10-19 11:00] cpaggen opened #695 "[documentation bug] Document VLAN format for aci_ranges resource"
This is a documentation enhancement request, although one could argue it's a documentation bug because it's virtually impossible to use aci_ranges the way it is currently documented at [](https://registry.terraform.io/providers/CiscoDevNet/aci/latest/docs/resources/ranges)

The documentation really should mention that "to" and "from" parameters expect a VLAN in the following format: "vlan-nnn"; ri

[2021-10-19 12:25] oldguardmd commented on #695
And really, because this is worthless without a VLAN Pool example I would suggest an example like this:

`
resource "aci_vlan_pool" "example_vlan_pool1" {
    name = "exampleVLANPool"
    alloc_mode = "static"
}

resource "aci_ranges" "kcdemo_vlan_range" {
   vlan_pool_dn = aci_vlan_pool.example_vlan_pool1.id
   from = "vlan-501"
   to   = "vlan-501"
   alloc_mode = "static"
   role = "external"
}

[2021-10-19 19:14] oldguardmd opened #697 "Ability to manage infraRsDomP seperate from aci_attachable_access_entity_profile"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-10-22 04:18] shrsr commented on #566
@qfaure I just went through your TF configuration files. We don't need to provide passwords for both provider blocks in demo and modules folder. Please update the tenant.tf with your password in the demo folder. The provider.tf in the modules folder just needs the following source address.

[code]
Can you please try running TF again. I have attached the zip file.
[aci-demo.zip](https://github.com/

[2021-10-26 06:17] #695 closed, assigned to nobody

[2021-10-29 07:19] mrijswij opened #722 "Not able to uncheck "ep_move_detect_mode = GARP""
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-02 21:47] #576 closed

[2021-11-02 21:47] #722 closed

[2021-11-03 00:31] lhercot commented on #262
Issue fixed in master branch. Fix will be present in v1.0.0.

[2021-11-03 00:31] #262 closed

[2021-11-03 00:31] lhercot commented on #527
Issue fixed in master branch. Fix will be present in v1.0.0.

[2021-11-03 00:31] #527 closed

[2021-11-03 12:13] brandon-shelton opened #726 "No Multicast Address Pool Resource"
It doesn't appear that there is a resource available to create a multicast address pool.

I'm not sure if it will help, but here is an example of a post I pulled from the API inspector when creating a multicast address pool:

[code]

[2021-11-04 13:36] jblackman commented on #652
Raised PR #663 to resurrect the change.

[2021-11-05 10:59] mingjliu9 opened #727 "Get Subnets from Bridge Domain DN"
### Description
I want to get subnets with bridge domain/EPG dn as input parameter, so that my terraform module could work well to pass subnets as input parameter to other terraform resources.

### New or Affected Resource(s) + ACI Class(es):

New data source expected:
aci_egp_subnets
or
aci_bd_subnets

### APIC version and APIC Platform

* V 4.2(7I) and on-prem/cloud-aws/cloud-azure/all.

### Pot

[2021-11-09 20:11] #592 closed

[2021-11-09 20:11] #598 closed

[2021-11-09 20:12] #571 closed

[2021-11-09 22:27] #595 closed

[2021-11-09 22:27] #596 closed

[2021-11-09 22:27] #597 closed

[2021-11-09 22:27] #599 closed

[2021-11-10 07:19] lhercot commented on #592
Please check v1.0.1. It should have all those issues fixed including new resources and datasources for ESG Tag Selector and ESG EPG Selector.

See documentation for the other requested changes.

[2021-11-10 16:55] FrederikSuijs commented on #543
As @nipil mentioned, using the API inspector or any other inspect tool, when using the gui, you can actually see multiple objects are created when creating the relation of a VMM domain bound to an EPG and the Enhanced Lag Policy.
fvAEPgLagPolAtt + fvRsVmmVSwitchEnhancedLagPol

Currently we _solve_ this by using aci_rest objects to create those.

`terraform
resource "aci_application_epg" "epg" {

[2021-11-10 17:50] lhercot commented on #566
Closing this issue as we have not heard back. If the issue is still there after our solution proposition, feel free to reopen the issue.

[2021-11-10 17:50] #566 closed

[2021-11-12 15:12] kalenarndt opened #733 "Provider truncating hyphens in object names with data.aci_client_end_point"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-12 15:46] kalenarndt opened #734 "Provider is unable to assign multiple annotations(tags) to any given object"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no

[2021-11-15 16:01] adealdag opened #736 "When importing aci_bridge_domain, relation to the VRF is not imported"
### Community Note

* Please vote on this issue by adding a 👍 [reaction](https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to the original issue to help the community and maintainers prioritize this request
* Please do not leave "+1" or other comments that do not add relevant new information or questions, they generate extra noise for issue followers and do no